.alert-container {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: RGBa(0,0,0,0.7);
  justify-content: space-around;
  align-items: center;
  z-index: 10;
}

.alert {
  background-color: white;
  width: 90%;
  padding: 5%;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
}

.alert h1 {
  padding-bottom: 1em;
}

.alert p {
  padding-bottom: 1em;
}

.alert-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.alert-contents {
  width: 100%;
  padding-bottom: 1em;
}