# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
packages/app/node_modules
packages/shared/node_modules
packages/admin/node_modules
packages/landing/node_modules
/.pnp
.pnp.js

# testing
/coverage

# SSL Certificates
certificates/

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.production
.env.staging
.env.live
.env.bak

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea

notes.txt

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history
# Next build
.next

#production
out/
dist/
build/

# PWA generated things
packages/app/public/pwa/*
packages/admin/public/pwa/*
packages/landing/public/pwa/*

# Cached dato data
packages/shared/tempData/*
!packages/shared/tempData/.gitkeep
packages/app/tempGlobalData/*
!packages/app/tempGlobalData/.gitkeep
packages/landing/tempData/*
!packages/landing/tempGlobalData/.gitkeep

# Service workers
/public/workbox-*.js
/public/sw.js

# Firebase
.firebase
.firebase/
firebase.json
firebase-debug.log

# next.js
/.next/
/out/
