.intro {
  margin-bottom: var(--sp-10);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  max-width: var(--sp-112);
  margin: 0 auto;
}

.header {
  width: 100% !important;
  margin-bottom: calc(1.5 * var(--sp-10)) !important;
}

.loginButtons {
  width: 100%;
  margin-bottom: var(--sp-8);

  :global(.button) {
    width: 100%;
    margin-bottom: var(--sp-8) !important;
    align-items: center !important;
    justify-content: flex-start !important;
    &:last-child {
      margin-bottom: 0 !important;
    }
  }

  :global(.button--innerText) {
    justify-content: flex-start !important;
    align-items: baseline !important;
  }
}

.tcText {
  width: 100%;
}

.error {
  margin-bottom: var(--sp-8) !important;
}

.form {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--sp-10);
}

.input {
  width: 100%;
}

.submit {
  margin-bottom: var(--sp-5) !important;
  align-self: flex-end;
  width: 31.48%;
}

.forgotPasswordLink {
  margin-top: calc(-0.5 * var(--sp-5));
  width: 100%;
}