.inner,
.imageButton {
  display: flex;
  align-items: center;
  justify-content: center;
}


.imageButton {
  position: relative;
  width: 100%;
  height: 100%;
}

/* INNER */
.inner {
  padding: var(--sp-10);

  @media (--sm) {
    padding: var(--sp-10) var(--sp-20);
  }

  :global(img),
  :global(video) {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
  }

  :global(iframe) {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  > * {
    z-index: 1;
  }

  /* Inner with caption */
  &._hasCaption {
    padding-bottom: calc(var(--sp-20) + var(--sp-5)) !important;
  }
}

/* CAPTION */
.caption {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.25em;
  padding: 0 var(--sp-10);
  margin-bottom: var(--sp-10);
  color: var(--bg-color);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  @media (--sm) {
    padding: 0 var(--sp-20);
  }
}

.backButton {
  position: absolute;
  right: var(--sp-5);
  z-index: 2;

  svg {
    border: 1px solid var(--white);
    border-radius: 50%;
  }
}

.background {
  z-index: 0 !important;
  background-color: var(--black) !important;
  opacity: 0.98;
}