.inner,
.imageButton {
  display: flex;
  align-items: center;
  justify-content: center;
}


.imageButton {
  position: relative;
  width: 100%;
  height: 100%;
}

/* INNER */
.inner {
  padding: var(--sp-10) 0;

  @media (--sm) {
    padding: var(--sp-10) var(--sp-20);
  }

  :global(img),
  :global(video) {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
  }

  :global(iframe) {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  > * {
    z-index: 1;
  }
}

/* CAPTION */
.caption {
  display: flex;
  justify-content: center;

  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: var(--sp-5);
  color: var(--bg-color);
  font-size: 0.75rem;

  &._hasCaption {
    padding-top: var(--sp-5);
  }

  @media (--sm) {
    padding: var(--sp-10) var(--sp-20);
    font-size: 1rem;

    &._hasCaption {
      padding-top: var(--sp-10);
    }
  }
}

.backButton {
  position: absolute;
  right: var(--sp-5);
  z-index: 2;

  svg {
    border: 1px solid var(--offwhite);
    border-radius: 50%;
  }
}

.background {
  z-index: 0 !important;
  background-color: var(--black) !important;
  opacity: 0.98;
}