.SidePanel {
  overflow: hidden;
  z-index: 29;

  display: none;

  /* WHEN LOADING */
  &._loading {
    .container__inner,
    .backButton {
      filter: blur(5px);
    }
  }

}

.background {
  opacity: 0;
  will-change: opacity;
}


.container {
  position: absolute;
  right: 0;
  left: var(--sp-5);
  top: var(--sp-5);
  bottom: var(--sp-5);
  background: var(--white);
  border-radius: var(--dialogue-radius);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: -8px 0px 18px rgba(0, 0, 0, 0.14);
  will-change: transform;
  transform: translateX(105%);

  @media (--sm) {
    left: auto;
    width: 720px;
  }

}

.container__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: var(--sp-6);
  padding-left: calc(var(--sp-6) + 5px);
  overflow-y: scroll;
  z-index: 2;

  @media (--xxs) {
    padding: var(--sp-8);
    padding-left: calc(var(--sp-8) + 5px);
  }

  > * {
    padding-bottom: calc(2 * var(--sp-10));
  }
}

.SidePanel__Header {
  padding-right: calc(var(--sp-5) + var(--sp-8));
  margin-bottom: var(--sp-8);
}

.backButton {
  position: absolute;
  z-index: 3;
  top: var(--sp-5);
  right: var(--sp-5);
}

/* LOADER */
.loader {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  background: color-mod(var(--offwhite) alpha(0.8)) !important;
  border-radius: var(--dialogue-radius);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  .spinner {
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
  }
}

/* BUTTON */
.ctaButton {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 3;
  overflow: hidden;

  :global(.button) {
    width: 100%;
    border-radius: 0 0 0 0;
    margin-bottom: 0;
  }

  :global(.button):last-child {
    border-radius: 0 0 0 var(--dialogue-radius);
  }
}