@font-face {
  font-family: SpaceGrotesk;
  src: url('/fonts/SpaceGrotesk-Regular.woff');
  font-style:  normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: SpaceGrotesk;
  src: url('/fonts/SpaceGrotesk-Medium.woff');
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: SpaceGrotesk;
  src: url('/fonts/SpaceGrotesk-SemiBold.woff');
  font-style:  normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: SpaceGrotesk;
  src: url('/fonts/SpaceGrotesk-Bold.woff');
  font-style:  normal;
  font-weight: bold;
  font-display: swap;
}