.featuresList {
  font-size: 1.2rem;

  @media (--sm) {
    font-size: 1em;
  }

  @media (--md) {
    padding: var(--sp-5);
    font-size: 1.2rem;
  }
}

.featureItem {
  margin-bottom: var(--sp-16);

  @media (--xs) {
    padding: 0 var(--sp-8);
  }

  /* Two columns */
  @media (--sm) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

    &:nth-child(even) {
      flex-direction: row-reverse;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}


.image,
.text {
  --middle-gap: 1.5rem;
  /* Two columns */
  @media (--sm) {
    width: 50%;
    flex-grow: 0;
  }

  @media (--md) {
    --middle-gap: 2rem;
  }

  @media (--lg) {
    --middle-gap: 4rem;
  }
}

.text {
  margin-bottom: var(--sp-10);

  @media (--xs) {
    margin-bottom: var(--sp-12);
  }

  @media (--sm) {
    margin-bottom: 0;

    .featureItem:nth-child(odd) & {
      padding-right: var(--middle-gap);
    }

    .featureItem:nth-child(even) & {
      padding-left: var(--middle-gap);
    }
  }
}

.textInner {
  width: 100%;
  @media (--sm) {
    max-width: 28rem;
  }

  .featureItem:nth-child(odd) & {
    margin-left: auto;
  }
}

.image {
  padding: 0 var(--sp-5);

  @media (--xs) {
    padding: 0 var(--sp-8);
  }

  text-align: center;

  /* Two columns */
  @media (--sm) {
    .featureItem:nth-child(odd) & {
      padding-left: var(--middle-gap);
      padding-right: 0;
    }

    .featureItem:nth-child(even) & {
      padding-left: 0;
      padding-right: var(--middle-gap);
    }

    text-align: right;

    .featureItem:nth-child(odd) & {
      text-align: left;
    }
  }

  img {
    display: inline;
    width: 100%;
    max-width: var(--sp-80);
    height: auto;

    @media (--md) {
      max-width: var(--sp-96);
    }
  }
}

.header {
  border-bottom: 2px solid var(--green);
  margin-bottom: 1em;
  color: var(--green);
  width: fit-content;
}