.primaryCTASection {
  background-image: url("../public/images/archform-pattern.svg");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: repeat;
  background-color: var(--offwhite);
  box-shadow: inset 0 3px 26px -3px rgba(0,0,0,.4);

  @media (--xs) {
    background-size: 80%;
  }

  @media (--md) {
    background-size: 70%;
  }

  @media (--lg) {
    background-size: 60%;
  }
}

.ctaShadow {
  box-shadow: black 3px 3px 0px 0px;
}
