.testimoniesSection {
  position: relative;
  background-color: var(--grey-light);
  padding-left: 0 !important;
  padding-right: 0 !important;

  padding-bottom: calc(var(--sp-16) + var(--sp-5)) !important;

  @media (--xs) {
    padding-bottom: calc(var(--sp-20) + var(--sp-5)) !important;
  }
}

.pagination {
  position: absolute;
  right: 50%;
  bottom: var(--sp-8);
  transform: translate3d(50%, 0, 0) !important;
}

.singleTestimony {
  padding: 0 var(--sp-4);
  margin: 0 auto;

  @media (--xxs) {
    padding: 0 var(--sp-8);
  }

  @media (--xs) {
    padding: 0 var(--sp-5);
  }

  @media (--sm) {
    padding: 0 var(--sp-8);
  }

  @media (--md) {
    display: flex;
    align-items: center;
    padding: 0 0;
  }

  @media (--lg) {
    padding: 0 0;
  }

}

.testimonyImage {
  position: relative;
  width: var(--sp-32);
  margin: 0 auto;
  margin-bottom: var(--sp-4);
  line-height: 0;

  @media (--md) {
    width: var(--sp-36);
    height: var(--sp-36);
    flex-shrink: 0;
    padding-top: 0;
    margin-right: var(--sp-6);
    margin-bottom: 0;
  }

  @media (--bmw) {
    width: var(--sp-40);
    height: var(--sp-40);
    margin-right: var(--sp-8);
  }

}

.testimonyImageInner {
  position: relative;
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.testimonyText {
  text-align: center;

  @media (--md) {
    flex-shrink: 0;
    width: var(--sp-80);
    text-align: left;
  }
}
