.footerColumnCopy {
  padding-top: var(--sp-4);

  h4 {
    font-weight: var(--bold);
    font-size: 1.5em;
    margin-bottom: var(--sp-4);
  }

  ul {
    list-style-type: none !important;
    padding-left: 0 !important;

    li {
      margin-bottom: var(--sp-2) !important;

      a {
        @mixin buttonText;
      }
    }
  }

}
