.theHeader {
  box-shadow: 0 -5px 15px 0 rgba(0,0,0,.4);
}

.hamburgerMenu {
  display: none;
  position: absolute;
  top: var(--sp-24);
  left: 0;
  width: 100%;
  padding: var(--sp-5) 0;
  background-color: var(--bg-color);
  box-shadow: 0 17px 15px 0 rgba(0,0,0,.2);

  text-align: center;

  will-change: transform;
  transform: scaleY(0);
  transform-origin: center top;

  p {
    opacity: 0;
    will-change: opacity;
    margin-bottom: var(--sp-5);
  }

  a {
    display: inline;
  }
}

.navPageLink {

  margin-bottom: var(--sp-5) !important;

  @media (--sm) {
    margin-bottom: 0 !important;
  }

  &::after {
    background-color: transparent !important;
  }

  &:hover {
    &::after {
      background-color: var(--green) !important;
    }
  }

  &._active {
    &::after {
      background-color: var(--green) !important;
    }
  }
}

.signupLinks {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  @media (--sm) {
    margin-left: auto;
    flex-direction: row;
  }
}


.menu {
  grid-column-start: 6;
  justify-self: end;
  align-self: center;
  width: 66% !important;

  @media (--xs) {
    grid-column-start: 12;
  }

  @media (--md) {
    display: none;
  }
}
