.dot-one {
  opacity: 0;
  -webkit-animation: one 2.5s infinite;
  animation: one 2.5s infinite;
}

.dot-two {
  opacity: 0;
  -webkit-animation: two 2.5s infinite;
  animation: two 2.5s infinite;
}

.dot-three {
  opacity: 0;
  -webkit-animation: three 2.5s infinite;
  animation: three 2.5s infinite;
}

@-webkit-keyframes one {
  /* One */
  0% { opacity: 1; }
  24% { opacity: 1; }
  /* Two */
  25% { opacity: 1; }
  49% { opacity: 1; }
  /* Three */
  50% { opacity: 1; }
  74% { opacity: 1; }
  /* Four */
  75% { opacity: 0; }
}

@-webkit-keyframes two {
  /* One */
  0% { opacity: 0; }
  24% { opacity: 0; }
  /* Two */
  25% { opacity: 1; }
  49% { opacity: 1; }
  /* Three */
  50% { opacity: 1; }
  74% { opacity: 1; }
  /* Four */
  75% { opacity: 0; }
}

@-webkit-keyframes three {
  /* One */
  0% { opacity: 0; }
  24% { opacity: 0; }
  /* Two */
  25% { opacity: 0; }
  49% { opacity: 0; }
  /* Three */
  50% { opacity: 1; }
  74% { opacity: 1; }
  /* Four */
  75% { opacity: 0; }
}

@keyframes one {
  /* One */
  0% { opacity: 1; }
  24% { opacity: 1; }
  /* Two */
  25% { opacity: 1; }
  49% { opacity: 1; }
  /* Three */
  50% { opacity: 1; }
  74% { opacity: 1; }
  /* Four */
  75% { opacity: 0; }
}

@keyframes two {
  /* One */
  0% { opacity: 0; }
  24% { opacity: 0; }
  /* Two */
  25% { opacity: 1; }
  49% { opacity: 1; }
  /* Three */
  50% { opacity: 1; }
  74% { opacity: 1; }
  /* Four */
  75% { opacity: 0; }
}

@keyframes three {
  /* One */
  0% { opacity: 0; }
  24% { opacity: 0; }
  /* Two */
  25% { opacity: 0; }
  49% { opacity: 0; }
  /* Three */
  50% { opacity: 1; }
  74% { opacity: 1; }
  /* Four */
  75% { opacity: 0; }
}