.phrase {
  margin-bottom: 1.25em;
  width: 100%;
}

.phrase h3 {
  display: inline;
}

.phrase select {
  width: initial;
  display: inline;
  border: none;
  border-radius: 10px;
  font-size: 1.333em;
  padding: 0.1em 0em 0.2em 0.3em;
  margin: 0;
}

.posts-button {
  display: flex;
  flex: auto;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
}

  .posts-button button {
    margin-bottom: 0;
  }
