@font-face {
  font-family: SpaceGrotesk;
  src: url('/fonts/SpaceGrotesk-Regular.woff');
  font-style:  normal;
  font-weight: normal;
}
@font-face {
  font-family: SpaceGrotesk;
  src: url('/fonts/SpaceGrotesk-Medium.woff');
  font-style:  normal;
  font-weight: 500;
}
@font-face {
  font-family: SpaceGrotesk;
  src: url('/fonts/SpaceGrotesk-SemiBold.woff');
  font-style:  normal;
  font-weight: 600;
}
@font-face {
  font-family: SpaceGrotesk;
  src: url('/fonts/SpaceGrotesk-Bold.woff');
  font-style:  normal;
  font-weight: bold;
}