/* 
**************************
DETAILS
**************************/
.account-details {
  margin: 2em 0;
  width: 90%;
  margin: 0 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: auto;
  
  .h2 {
    width: 100%;
  }

  .row {
    justify-content: space-between;
    width: 100%;
  }

  .error {
    padding-bottom: 0;
  }
}

/* 
**************************
DETAILS
**************************/
.accountPageDetails {

  .row {
    margin-bottom: var(--bsu);
    justify-content: space-between;
  }

  .submitButton {
    margin-top: var(--bsu);
  }
}

.payment-details {
  width: 100%;
}


/* 
**************************
SUMMARIES
**************************/

.accountPageSection {
  padding-top: var(--bsu);
  padding-bottom: var(--bsu-lg);
  padding-right: var(--bsu);
}

.accountPageSection__details {
  margin-bottom: var(--bsu);
  .p {
    margin-bottom: 0.3em;
    height: auto !important;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.accountPage__paymentIntro {
  margin-bottom: var(--bsu-md);
}

.paymentSummaryBlock {
  margin-bottom: 2em;
  &:last-child {
    margin-bottom: 0;
  }
}

.paymentSummaryName {
  margin-bottom: 0.5em;
}

.cardBrand {
  text-transform: capitalize;
}

.h2 {

}
