/* 
**************************
CONNECTIONS
**************************/

.account-integrations {
  width: 90%;
  margin: 0 5%;
  flex: auto;

  .p {
    font-weight: 400;
  }

  .li {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
  }
}


.integrations-list .li {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
}

.integration-icons {
  width: 14.351%;
  display: flex;
  margin-right: 2.778%;
  flex: none;
  justify-content: flex-end;
  align-items: center;
  
  .spinner {
    justify-content: flex-end;
  }
}

.integration-platform-icon {
  padding-left: 10px;
}


.integration-link {
  flex: auto;
  white-space: nowrap;
  overflow: hidden;
  
  .input {
    margin: 0;
    padding: 0;
  }
}


.integration-edit {
  width: 14.351%;
  text-align: center;
  padding-right: 2.778%;
  flex: none;
}


/* 
**************************
DETAILS
**************************/
.account-details {
  margin: 2em 0;
  width: 90%;
  margin: 0 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: auto;
  
  .h2 {
    width: 100%;
  }

  .row {
    justify-content: space-between;
    width: 100%;
  }

  .error {
    padding-bottom: 0;
  }
}

/* 
**************************
DETAILS
**************************/
.accountPageDetails {

  
  .row {
    margin-bottom: var(--bsu);
    justify-content: space-between;
  }

  .submitButton {
    margin-top: var(--bsu);
  }
}

.payment-details {
  width: 100%;
}

/* 
**************************
SUMMARIES
**************************/

.accountPageSection {
  width: 90%;
  margin: 0 5%;
  margin-top: var(--bsu);
  margin-bottom: var(--bsu-lg);
}

.accountPageSection__details {
  margin-bottom: var(--bsu);
  .p {
    margin-bottom: 0.3em;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.paymentSummaryBlock {
  margin-bottom: 2em;
  &:last-child {
    margin-bottom: 0;
  }
}

.paymentSummaryName {
  margin-bottom: 0.5em;
}

.h2 {

}
