.artistIntegrations {

  :global(.flex-row) {
    margin-bottom: 1.5em;
  }
}

.tile {
  &.readOnly {
    background-color: var(--grey-light);
    border: none;

    :global(.input--container) {
      margin-bottom: 0.2em !important;
    }
  }
}

.profile-picture {
  min-width: 33%;
  margin-right: 3.234%;

  :global(.square-image) {
    margin-top: 0;
  }
}


.right-of-profile {
  justify-content: flex-start;
  padding-top: 0.1em;
  padding-left: calc(0.5 * var(--bsu));
}


.adaccount-select {
  :global(select),
  :global(input) {
    margin-bottom: 0;
  }
}