.faq-list {
  padding: 0 5%;
  width: 90%;
  
  .li {
    
  }

  .p {
    
    text-align: justify;
  }
}

.faqItem {
  border-bottom: 1px solid var(--grey-light);
  margin-bottom: var(--bsu-md);
  line-height: 1.3em;

  :global(*:last-child) {
    margin-bottom: var(--bsu-md);
  }

  /* For making sure the markdown has worked */
  :global(pre) {
    color: pink;
  }
}