.faq-list {
  .li {
    
  }

  .p {
    text-align: justify;
  }
}

.faqItem {
  border-bottom: 1px solid var(--grey-light);
  padding-bottom: var(--sp-8);
  margin-bottom: var(--sp-8);
  line-height: 1.3em;

  /* For making sure the markdown has worked */
  :global(pre) {
    color: pink;
  }
}