.introText,
.successMessage {
  width: 100%;
}

.formContainer {
  width: 100%;
  padding-top: var(--sp-10);
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
}

.input {
  width: 100%;
}

.button {
  width: 35%;
}