.platformSelectors {
  display: flex;
  padding: var(--bsu) 0;
  padding-right: var(--bsu-md);
  border-top: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
  overflow-x: auto;
  margin-bottom: var(--bsu);

  /* For desktops */
  @media (hover: hover) {
    flex-wrap: wrap;
    padding-bottom: 0;
  }
}

.platformButtonContainer {
  margin-right: var(--bsu);

  &:last-child {
    margin-right: 0;
  }

  /* For desktops */
  @media (hover: hover) {
    margin-bottom: var(--bsu);
  }
}