@import "../assets/styles/mixins";

.platformSelectors,
.dataSelectors {
  display: flex;
  padding: calc(0.5 * var(--bsu)) 0;
  padding-right: var(--bsu-md);
  border-top: 2px solid var(--text-color);
  /* border-bottom: 2px solid var(--text-color); */
  overflow-x: auto;
  margin-bottom: var(--bsu);

  /* For desktops */
  @mixin canHover {
    flex-wrap: wrap;
    padding: var(--bsu) 0;
    padding-bottom: 0;
  }
}

.platformSelectors {
  scroll-behavior: smooth;
}

.platformButtonContainer,
.dataButtonContainer {
  margin-right: calc(0.5 * var(--bsu));

  &:last-child {
    margin-right: 0;
  }

  /* For desktops */
  @mixin canHover {
    margin-bottom: var(--bsu);
  }
}

.dataButtonContainer {
  position: relative;
  text-decoration: none;
  margin-right: var(--bsu-lg);
  /* flex: 0 0 10em; */
  line-height: 1.5;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.5em;
    width: 100%;
    height: 2px;
    background: black;
    opacity: 0;
  }

  @mixin canHover {
    &:hover {
      color: var(--text-color);
      &::after {
        opacity: 1;
        background: var(--green);
      }
    }
  }

  &._active {
    &::after {
      opacity: 1;
      background: var(--text-color);
    }
  }
}

.dataButton_title {
  font-weight: var(--bold);
}

.dataButton_subtitle {
  /* font-weight: var(--bold); */
}