/* 
**************************
CONNECTIONS
**************************/

.account-integrations {
  width: 90%;
  margin: 0 5%;
  flex: auto;
}

.accountTitle {
  margin-bottom: var(--sp-8) !important;
}

.integrarionsListItem {
  display: flex;
  flex-direction: row;
  margin-bottom: var(--sp-5);
  align-items: flex-start;
}

.integration-icons {
  width: auto;
  display: flex;
  margin-right: var(--sp-5);
  flex: none;
  justify-content: flex-end;
  align-items: center;
  
  .spinner {
    justify-content: flex-end;
  }
}

.integration-platform-icon {
  padding-left: 10px;

  svg {
    width: var(--sp-5);
    height: auto;
  }
}

.asteriskIcon {
  margin-right: 0.5em;
}

.integration-link {
  flex: auto;
  white-space: nowrap;
  overflow: hidden;
  line-height: 1;

  a {
    display: inline-block;
    padding-top: 0.1em;
    padding-bottom: 0.4em;
  }
  
  .input,
  .input--container {
    margin: 0;
  }
}


.integrationEdit {
  width: 14.351%;
  text-align: center;
  padding-right: 2.778%;
  flex: none;
  :global(.button:disabled) {
    background-color: transparent !important;
  }
}

.saveIcon {
  transform: translateY(0.3em);
}
