.intro {
  margin-bottom: var(--bsu-lg);
}

.container {
  
  display: flex;
  flex-direction: column;
  flex: auto;
  width: 90%;
  max-width: 480px;
  margin: 0 auto;
}

.header {
  width: 100% !important;
  margin-bottom: var(--bsu-lg) !important;
}

.loginButtons {
  width: 100%;
  margin-bottom: var(--bsu);

  :global(.button) {
    width: 100%;
    margin-bottom: var(--bsu-md) !important;
    text-align: left !important;
    justify-content: flex-start !important;
    &:last-child {
      margin-bottom: 0 !important;
    }
  }
}

.tcText {
  width: 100%;
  margin-top: auto;
  margin-bottom: 0 !important;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-bottom: var(--bsu);
}

.input {
  width: 100%;
}

.submit {
  margin-bottom: var(--bsu) !important;
  align-self: flex-end;
  width: 31.48%;
}

.forgotPasswordLink {
  margin-top: calc(-1 * var(--bsu-md));
  width: 100%;
}