.noNotifactions,
.notifications-list {
  width: 90%;
  margin: 0 5%;

  .li {
    outline: 1px solid black;
    outline-offset: -1px;
    display: flex;
  }
}


.read-border {
  width: 7.176%;
  flex: none;
  border-right: 1px solid black;
  margin-right: 9.954%;
}

.notification-content {
  flex: auto;
  display: flex;
  flex-direction: column;
  padding: 3.358% 0;
}

.notification-content-top {
  display: flex;

  :global(p) {
    font-weight: 400;
  }
}


.notification-words {
  flex: auto;
}

.notification-context-menu {
  width: 17.348%;
  margin-left: 3.358%;
  flex: none;
  justify-content: center;
  display: flex;
  align-items: flex-start;
}
