.PaymentMethodButton {
  position: relative;
  display: block;
  width: 100%;
  max-width: 360px;
  border-radius: var(--dialogue-radius);
  border: 2px solid var(--black);

  padding: 1em;
  padding-left: 80px;
  margin-bottom: var(--bsu-md);

  &:last-child {
    margin-bottom: 0;
  }

  &.default {
    border: 2px solid var(--green);
  }
}

.buttonIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 100%;
}

.buttonIcon__inner {
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  font-size: 22px;
  width: 1em;
  height: 1em;
  border-radius: 100%;
  border: 2px solid var(--black);

  &::after {
    content: ' ';
    display: block;
    position: absolute;
    left: 15%;
    top: 15%;
    width: 70%;
    height: 70%;
    border-radius: 100%;
    background-color: var(--black);
    opacity: 0;
    transition: opacity var(--trans);
  }

  .default & {
    &::after {
      opacity: 1;
    }  
  }
}

.cardDetails {

  > * {
    margin-bottom: 0.2em;
  }

  .brand {
    text-transform: capitalize;
  }
}