/* Payment page
************************************* */
.payments {
  width: 90%;
  margin: 0 5%;
}

.payments-organisation {
  display: flex;
  justify-content: space-between;
}

.payments-organisation-detail {
  width: 48.609%;
}

.newPaymentLink {
  width: 100%;
  flex-grow: 1;
  padding-bottom: 2em;
  font-size: 0.9em;
}

/* 
**************************
PAYMENT METHOD
**************************/
.AccountPagePayments {

}

.AccountPagePayments__allMethods {
  margin-bottom: var(--bsu-md);
}

.AccountPagePayments__addPayment {
  margin-bottom: var(--bsu-lg);
}

.AccountPagePayments__saveDefault {

}

/* 
**************************
CHECKOUT PAGE
**************************/

.checkout-page {
  width: 90%;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  flex: auto;
  align-items: flex-end;
  
  .h4 {
    width: 100%;
  }
}


.checkout-inputs {
  flex: auto;
  width: 100%;
}

.checkout-inputs-section {
  margin-bottom: 1.5em;
}

.city-state {
  display: flex;
  justify-content: space-between;
}

.cardInputLabel {
  position: relative;
}

.card-input {
  outline: 2px solid black;
  outline-offset: -2px;
  margin-bottom: 1em;
  padding: 1.333em;
  width: 100%;
  box-sizing: border-box;
}

.checkoutButtonWrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: var(--bsu-md);
}

.checkoutStripeLogo {
  text-align: right;
  width: 100%;
}

/* 
**************************
PAYMET SUCCESS PAGE
**************************/

.PaymentPageSuccess {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.PaymentPageSuccess__headers {
  flex: auto;
  width: 100%;
  margin-bottom: var(--bsu);
}