.postItem {
  /* Force gap to the right */
  position: relative;
  overflow: visible;
  max-width: 480px;

  border: 2px solid var(--text-color);
  border-radius: var(--dialogue-radius);
  overflow: hidden;

  &:last-child::after {
    content: ' ';
    position: absolute;
    width: var(--sp-8);
    height: 100%;
    right: calc(-1 * var(--sp-8));
  }

  @media (--md) {
    width: 100% !important;
    max-width: none;
    margin-right: 0 !important;

    &:last-child::after {
      display: none;
    }
  }
}

.postSection {
  padding: var(--sp-4);

  @media (--md) {
    padding: var(--sp-5);
  }
}

/* TOP BAR (meta and toggle) */
/* ************** */
.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  border-bottom: 2px solid var(--text-color);
}

/* META */
/* ************** */
.postMeta {
  margin-bottom: 0 !important;

  > * {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  :global(svg) {
    margin-right: 10px;
    vertical-align: sub;
  }
  
  :global(a) {
    text-decoration: none;
    .disabled & {
      color: var(--grey);
    }
  }
}

/* CONTENTS (image and caption) */
/* **************************** */
.postContents {
  display: flex;
  position: relative;
  align-items: center;
  border-bottom: 2px solid var(--text-color);

  .postItem._disabled & {
    filter: grayscale(1);
  }

  &._noCaption {
    justify-content: center;
  }

  /* Gradient */
  &::before,
  &::after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--sp-4);
    background: linear-gradient(to bottom, black, cubic-bezier(0.2, 0.13, 0.49, 0.8), transparent);
    opacity: 0.08;
  }

  &::after {
    top: auto;
    bottom: 0;
    transform: rotate(180deg);
  }
}

.postImageContainer {
  width: 30%;
}

.postCaption {
  padding-left: var(--sp-4);
  width: 70%;

  @media (--md) {
    padding-left: var(--sp-5);
  }
}

/* METRICS */
/* **************************** */
.postMetrics {
  font-size: 0.9em;
  margin-bottom: -0.5em !important;
}

.postMetricsItem {
  display: flex;
  /* justify-content: space-between; */
  align-items: baseline;
  margin-bottom: 0.5em;

  .line {
    flex-grow: 1;
    height: 1px;
    margin: 0 0.3em;
    background-color: var(--grey);
    display: none;
  }

  .title {
    margin-right: 0.3em;
  }

  .value {
    font-weight: var(--bold);
    transform: translateY(0.02em);
  }
}

.postMetricsUnpromotable {
  color: var(--error-color);
}