/* POSTS PAGE */

.posts {
  width: 100%;
}

.posts-page {
  width: 100%;
  flex: auto;
  display: flex;
  flex-direction: column;
}

.posts-section {
  flex: auto;

  .h4 {
    margin-left: 5%;
    margin-right: 5%;
  }
}


/* POST METADATA AND TOGGLE*/
.post-meta {
  flex: auto;
  display: flex;
  align-items: center;
  
  :global(svg) {
    margin-right: 10px;
    vertical-align: sub;
  }
  
  .a {
    text-decoration: none;
    font-weight: 500;
    .deselected & {
      color: var(--grey);
    }
  }
}




.post-meta .a:hover {
  text-decoration: underline;

  .deselected & {
    color: var(--grey-dark);
  }
}


.post-toggle {
  background-color: var(--green);
  border-radius: var(--button-radius);
  overflow: hidden;

  .deselected & {
    outline: 2px solid var(--grey);
    background-color: transparent;
  }
}


/* POST MEDIA */

.post-media {
  margin: 0 1.5em 1.5em 1.5em;
  
  .deselected & {
    filter: grayscale(1);
  }
}

/* POST MESSAGE */
.post-message {
  padding-top: 1.5em;

  .p {
    flex: auto;
    margin-bottom: 0;
    padding-bottom: 0;
    font-weight: 500;
    font-style: italic;
    white-space: pre-line;
  }
}


.post-message,
.post-insights,
.post-es {
  .deselected & {
    color: var(--grey);
  }
}

/* POST LINK SELECTION */

.post-link {
  padding: 1.5em;

  .deselected & {
    color: var(--grey-dark);
  }

  .a,
  .select {
    .deselected & {
      color: var(--grey-dark);
    }
  }

  .select {
    .deselected & {
      border: 1px dotted var(--grey-dark);
      pointer-events: none;
    }
  }
}

.linkSelection {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--bsu);
}

.linkSelection__select {
  width: 72.5%;
  margin-bottom: 0 !important;

  :global(.selectElement_box) {
    margin-bottom: 0 !important;
  }
}

.broken-circle {
  width: 25%;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;

  :global(svg) {
    animation: spin 1.25s infinite linear;
  }
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

/* POST METRICS */

.hr {
  width: 100%;
  border: 1px solid var(--grey-dark);
  margin-top: 1.5em;
  margin-bottom: 1em;

  .deselected & {
    border: 1px solid var(--grey);
  }
}


.post-metrics {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: var(--black);
  color: var(--white);
  padding: 0.75em 1.5em;
}

.post-insights {
  width: 50%;
  font-weight: 600;
  line-height: 1.25em;
}
.post-insight {
  display: inline-block;
  width: 60%;
  font-weight: 400;
}
.post-es {
  font-size: 2.5em;
  font-weight: 700;
}

/* NO POSTS */
.noPosts {
  flex: auto;
  .h4,
  .p {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}


/* FORM FOR SETTING BUDGET */
.BudgetForm {
  display: flex;
  margin-bottom: var(--bsu);
  justify-content: flex-start;
}

.BudgetForm_inputContainer {
  margin-bottom: 0 !important;
  padding-right: var(--bsu);
  flex: 1 1 auto;

  @media (--xs) {
    flex: 1 0 auto;
  }

  :global(.input_box) {
    margin-bottom: 0 !important;
  }
}

.PostBudget__button {

}