.results {
  width: 90%;
  margin: 0 5%;
}

.resultItem {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 2em;
  border: 1px solid black;
  border-radius: var(--dialogue-radius);
  overflow: hidden;
}

.result-media {
  display: flex;
  width: 28.702%;
  flex: none;
  padding: 2.778%;
  background: var(--white);

  .disabled & {
    background: var(--grey-light);
  }

  .img {
    height: 100%;
  }
}


.result-insights {
  padding: 2.778%;
  flex: auto;
  background-color: var(--grey-light);
}

.result-toggle-saes {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  width: 14.351%;
  background-color: var(--black);
  color: var(--white);

  .h2 {
    margin: 0.6em auto;
  }

  .alert {
    color: var(--black);
  }

  .resultItem.disabled & {
    color: var(--grey);
  }
}

.result-toggle {
  background-color: transparent;
  outline: none;
  margin: 0 auto;
  margin-top: 17.420%;
}


.result-insight {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
}
  
  .insight-number {
    width: 21.831%;
    text-align: right;
    font-weight: bold;
  }
  .insight-statement {
    width: 73.943%;
  }

.result-score {
  margin-top: 1em;
  font-size: 1.25em;
  text-align: right;
}

.result-status {
  margin-top: 1em;
}

.disabled-results {
  padding: 2em 5% 0 5%;
  margin-bottom: 2em;
  
  .results {
    width: 100%;
    margin: 0;
    padding-bottom: 0.1em;
  }
}
