/* Summary text */
.summaryLoader {
  justify-content: flex-start !important;
  margin-bottom: var(--sp-5);
  :global(svg) {
    height: 1.2em;
    width: auto;
  } 
}

.results {

}

.resultItem {
  width: 100%;
  margin-bottom: var(--sp-8);
  border: 1px solid var(--text-color);
  border-radius: var(--dialogue-radius);
  overflow: hidden;

  &.disabled {
    background: var(--grey);
  }
}

.resultItem__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  @media (--xs) {
    flex-direction: row;
    align-items: stretch;
    flex-wrap: nowrap;

    > * {
      flex: none;
    }
  }
}

.result-media {
  display: flex;
  width: 20%;
  padding: 2.778%;
  background: var(--white);

  .disabled & {
    background: var(--white);
  }

  .img {
    height: 100%;
  }

  @media (--xs) {
    width: var(--sp-40);
    justify-content: center;
    align-items: center;
  }
}


.result-insights {
  padding: 2.778%;
  background: var(--grey-light);
  width: 100%;

  @media (--xs) {
    width: auto;
    flex: 1 auto;
  }
}

.result-toggle-saes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--sp-5);
  
  width: 100%;
  background: var(--black);
  color: var(--white);

  .h2 {
    margin-bottom: 0;
  }

  .alert {
    color: var(--black);
  }

  @media (--xs) {
    padding: 0;
    width: var(--sp-20);
    flex-direction: column-reverse;
    justify-content: space-between;

    .h2 {
      margin: 0.6em auto;
    }
  }
}

.result-toggle {
  background-color: transparent;
  outline: none;

  @media (--xs) {
    margin: 0 auto;
    margin-top: 17.420%;
  }
}


.result-insight {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0.5em;

  @media (--xs) {
    justify-content: space-between;
  }
}
  
.insight-number {
  
  text-align: right;
  font-weight: var(--bold);
  padding-right: 0.5em;

  @media (--xs) {
    padding-right: 0;
    width: 21.831%;
  }
}
.insight-statement {
  @media (--xs) {
    width: 73.943%;
  }
}

.result-score {
  margin-top: 1em;
  font-size: 1.25em;
  text-align: right;
}

.result-status {
  margin-top: 1em;
}

.disabled-results {
  padding: 2em 5% 0 5%;
  margin-bottom: 2em;
  border-radius: var(--dialogue-radius);
  
  .results {
    width: 100%;
    margin: 0;
    padding-bottom: 0.1em;
  }
}
