.TheHeader {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &.navOn {

  }
}

.logo {
  width: calc(var(--bsu-lg) / 0.82);

  :global(svg) {
    width: 100%;
    height: auto;
  }
}

.pageTitle {
  width: 100%;
  order: 3;
  padding-top: var(--bsu-md);
}

.subNavButton {
  width: var(--bsu-lg);
  height: var(--bsu-lg);
}