.TheHeader {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding-top: var(--sp-5);
  padding-bottom: var(--sp-10);

  @media (--min-content) {
    padding-top: 0;
  }

  @media (--md) {
    padding-bottom: calc(var(--sp-10) + var(--sp-5));
    margin-top: calc(-1 * var(--sp-5));
  }
}


.scrollHide {
  .TheHeader._hidden & {
    display: none;
  }

  .TheHeader._subNavOpen & {
    display: block;
  }

  @media (--md) {
    display: block !important;
  }
}

.background,
.logoContainer,
.subNavButton {
  position: fixed;
  top: var(--sp-5);
  z-index: 7;

  @media (--min-content) {
    top: var(--sp-5);
  }

  @media (--md) {
    top: var(--sp-10);
  }

  @media (--bmw) {
    top: var(--sp-10);
  }
}

.background,
.logoContainer {
  left: var(--sp-5);
  width: calc(var(--sp-10) / 0.82);

  .logo {
    width: 100%;
  }

  svg {
    width: 100%;
    height: auto;
  }
}


.logoContainer {
  display: block;
  z-index: 21;

  @media (--md) {
    left: var(--sp-5);
    top: var(--sp-5);
  }
}

.background {
  left: 0;
  top: 0;
  height: calc(((var(--sp-10) / 0.82) * 1) + var(--sp-6));
  width: 100%;
  z-index: 6;
  background: color-mod(var(--bg-color) alpha(0.8));

  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  &::after {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--sp-2);
    transform: translateY(100%);
    /* background: color-mod(var(--bg-color) alpha(0.8)); */
    background-image: linear-gradient(to bottom, color-mod(var(--bg-color) alpha(0.8)) 0%, rgba(255,255,255,0) 100%);
  }

  @media (--md) {
    display: none !important;
  }
}

.subNavButton {
  right: var(--sp-5);
  width: var(--sp-10);
  z-index: 15;

  @media (--sm) {
    right: var(--sp-8);
  }

  @media (--md) {
    left: var(--sp-5);
    top: auto;
    bottom: var(--sp-5);
    width: var(--sp-10);
    z-index: 16;
  }
}


.pageTitle {
  position: relative;
  width: 100%;
  order: 2;
  padding-top: calc(var(--sp-5) + var(--sp-10));
  z-index: 12;

  @media (--min-content) {
    width: auto;
    padding-top: 0;
    padding-left: calc(var(--sp-10) + var(--sp-10) + var(--sp-5));
    padding-right: var(--sp-16);
  }

  @media (--sm) {
    transform: translateY(calc(-1 * var(--sp-5)));
  }

  @media (--md) {
    transform: translateY(0);
  }

  h1 {
    margin-bottom: 0;
  }
}
