.TheHeader {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding-top: var(--sp-5);
  padding-bottom: var(--sp-10);

  @media (--min-content) {
    padding-top: 0;
  }

  @media (--md) {
    padding-bottom: calc(var(--sp-10) + var(--sp-5));
  }

  &.navOn {

  }

  /* @media (--bmw) {
    position: fixed;
    width: var(--bmw);
    left: 50%;
    margin-left: calc(-0.5 * var(--bmw));
  } */
}

.logo,
.subNavButton {
  position: fixed;
  top: var(--sp-8);

  @media (--min-content) {
    top: var(--sp-5);
  }

  @media (--md) {
    top: var(--sp-10);
  }

  @media (--bmw) {
    top: var(--sp-10);
  }
}

.logo {
  left: var(--sp-5);
  width: calc(var(--sp-10) / 0.82);
  z-index: 11;

  :global(svg) {
    width: 100%;
    height: auto;
  }

  @media (--sm) {
    left: var(--sp-8);
  }

  @media (--md) {
    left: var(--sp-10);
    width: calc((var(--sp-10) / 0.82) * 1.2);
  }

  @media (--bmw) {
    left: 50%;
    margin-left: calc((-0.5 * var(--bmw)) + var(--sp-10));
  }
}

.subNavButton {
  right: var(--sp-5);
  width: var(--sp-10);
  z-index: 6;

  @media (--sm) {
    right: var(--sp-8);
  }

  @media (--md) {
    right: var(--sp-10);
    width: calc(var(--sp-10) * 1.2);
  }

  @media (--bmw) {
    right: 50%;
    margin-right: calc((-0.5 * var(--bmw)) + var(--sp-10));
  }
}


.pageTitle {
  position: relative;
  width: 100%;
  order: 2;
  padding-top: calc(var(--sp-8) + var(--sp-10));
  z-index: 1;

  @media (--min-content) {
    width: auto;
    padding-top: 0;
    padding-left: calc(var(--sp-10) + var(--sp-10) + var(--sp-5));
    padding-right: var(--sp-16);
    transform: translateY(-0em);
  }

  :global(h1) {
    margin-bottom: 0;
  }
}
