@import "../assets/styles/mixins";

.nav {
  background-color: var(--black);
  color: var(--white);
}

.list {
  padding-top: 1.5em;
  padding-left: 17.129%;
}

.select {
  width: 81.190% !important;
  margin-bottom: var(--bsu) !important;
}

.linkItem {
  margin-bottom: 1em;
  font-weight: var(--bold-display);
  font-size: 1.2em;

  .a {
    color: var(--white);

    @mixin canHover {
      &:hover {
        color: var(--green);
      }
    }
  }

  :global(.-active) {
    text-decoration: none;
    cursor: default;
  }

  &:last-child {
    padding-top: 1.5em;
    margin-bottom: 0;
  }
}