@import "../assets/styles/mixins";

.container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 11;

  border-top: 1px solid var(--green);
  background-color: var(--bg-color);
  box-shadow: 0px -2px 16px rgba(0, 0, 0, 0.07);

  transition: transform var(--trans), opacity var(--trans);

  &._artistLoading {
    transform: translateY(100%);
    opacity: 0;
    pointer-events: none;
  }

  @media (--md) {
    bottom: 50%;
    left: var(--sp-5);
    left: 0;
    width: auto;
    transform: translateY(50%) translateY(51px); /* header height / 2 */
    border-top: none;
    background-color: none;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.07);
    padding: var(--sp-5) 0;
    padding-left: var(--sp-3);
    padding-right: var(--sp-3);
    border-radius: var(--dialogue-radius);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: 2px solid var(--green);
    border-left: none;

    &._artistLoading {
      transform: translateX(-100%) translateY(50%) translateY(51px); /* header height / 2 */
    }
  }

  /* @media (--bmw) {
    left: 50%;
    margin-left: calc((-0.5 * var(--bmw)) + var(--sp-4));
    border-radius: var(--dialogue-radius) !important;
    border-left: 2px solid var(--green);
  } */

}

.inner {
  display: flex;
  justify-content: space-between;
  padding: 7px var(--sp-5);

  @media (--xxs) {
    padding: 7px var(--sp-8);
  }
  
  @media (--xs) {
    justify-content: center;
  }

  @media (--md) {
    padding: 0;
    flex-direction: column;
  }
}

.link {
  text-align: center;
  font-size: 12px;

  @media (--xs) {
    padding: 0 var(--sp-5);
    margin: 0 10px;
  }

  @media (--md) {
    margin: var(--sp-5) 0;
    padding: 0;
    width: calc(var(--sp-10) * 1.2);

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.linkAnchor {
  display: block;
  text-decoration: none;
  color: var(--text-color);

  &._active {
    color: var(--text-color) !important;
  }

  @mixin canHover {
    &:hover {
      color: var(--green);
    }
  }
}


.linkIcon {
  margin: 0 auto;
  width: 1.8em;
  margin-bottom: 0.5em;
  margin-top: 0.2em;

  opacity: 0.4;
  transition: opacity var(--trans);

  .linkAnchor._active & {
    opacity: 1;
  }
  
  svg {
    width: 100%;
    height: auto;
  }

  @media (--md) {
    margin-top: 0;
  }
}

.linkTitle {
  margin-bottom: 0;
  width: 100%;

  .linkAnchor._active & {
    font-weight: var(--bold);
  }
}
