@import "../assets/styles/mixins";

.container {
  top: 0;
  z-index: 4;

  display: flex;
  flex-direction: column;
  justify-content: center;

  font-family: var(--font-display);
  background: var(--text-color);
  color: var(--bg-color);

  padding-top: calc(var(--bsu-lg) + var(--bsu) + var(--bsu-lg));
  overflow: auto;

  :global(a) {
    color: inherit;
    text-decoration: none;
  }

  @media (--md) {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    max-height: 540px;
    padding-top: calc(var(--bsu-lg) + var(--bsu));
  }

  @media (--bmw) {
    border-radius: 0 0 var(--dialogue-radius) var(--dialogue-radius);
  }
}

/*
 ARTISTS
 **********
*/

.artistsOuter {
  display: flex;
  justify-content: center;

  @media (--md) {
    display: block;
    width: 50%;
    flex-grow: 1;

    &._selectType {
      width: 65%;
    }
  }
}

.artistSelect,
.artistLinks {
  max-width: 420px;
  margin: 0 auto;
  margin-bottom: calc(var(--bsu-lg) + var(--bsu));
  margin-top: 0;

  @media (--md) {
    max-width: 100%;
    padding: 0 var(--bsu);
  }
}

.artistSelect {
  @media (--md) {
    padding: 0;
    max-width: 420px;
  }
}

.artistLinks {
  position: relative;
  padding-bottom: var(--bsu-lg);
  width: auto;

  &::after {
    content: ' ';
    position: absolute;
    bottom: calc(-1 * var(--bsu-lg) + var(--bsu-md));
    left: 50%;
    transform: translate(-50%, 0);
    width: 140%;
    max-width: 220px;
    height: 1px;
    background-color: var(--bg-color);
  }

  @media (--md) {
    padding-left: var(--bsu-xl);
    padding-bottom: 0;
    max-width: 100%;
    margin-bottom: 0;
    &::after {
      bottom: 50%;
      transform: translate(0, 50%);
      left: 0;
      width: 1px;
      height: 180%;
      max-height: 280px;
    }
  }
}

.artistLink {
  margin-bottom: var(--bsu);

  &:last-child {
    margin-bottom: 0;
  }

  &._active {
    font-weight: var(--bold-display);
  }
}

.artistLink_button {
  display: flex;
  align-items: center;
}

.artistLink_image {
  height: var(--bsu-md);
  width: var(--bsu-md);
  margin-right: var(--bsu);
  opacity: 0.7;
  background-color: var(--bg-color);

  .artistLink._active & {
    opacity: 1;
    border: 2px solid var(--bg-color);
  }
}

.artistLink_name {

}

/*
 LINKS
 **********
*/

.links {
  text-align: center;
  font-weight: var(--bold-display);

  @media (--md) {
    width: calc(100% - 50%);
    flex-grow: 1;
  }
}

.linkItem {
  margin-bottom: var(--bsu-md);

  &:last-child {
    margin-bottom: 0;
  }
}

.signOutLink {
  position: absolute;
  right: 50%;
  bottom: var(--bsu);
  transform: translateX(50%);
  color: var(--grey-mid);
  opacity: 0.7;
  margin-top: auto;
  text-align: center;

  :global(a) {
    padding: 1em;
    padding-bottom: 0;
  }

  @media (--xsHeight) {
    position: static;
    transform: none;
  }

  @mixin canHover {
    &:hover {
      opacity: 1;
    }
  }
}