.container {
  border-radius: 9999999px;
  overflow: hidden;
  perspective: 1000px;
}

.image {
  :global(> *) {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
}

.inner {
  position: relative;
  padding-top: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;

  .container._navOpen & {
    transform: rotateY(180deg);
  }
}

.spinner {
  width: 80%;
  height: auto;
}

.frontIcon,
.backIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 9999999px;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  :global(svg) {
    width: 100%;
    height: auto;
  }
}

.backIcon {
  border: 2px solid var(--bg-color);
  transform: rotateY(180deg);
}

.backIcon_inner {
  width: 80%;
  height: 80%;
}