/* CLASSES */
.wobble-animation {
  animation-name: wobble;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* ANIMATIONS */
@keyframes wobble {
  0%  { -webkit-transform:  translate(0px, -1px) rotate(-0.2deg); }
  100%  { -webkit-transform:  translate(0px, 1px) rotate(0.2deg); }
}