

/* SECTIONS */

html,
body,
#root,
#__next {
  width: 100%;
  height: 100%;
  background: var(--bg-color);
}

/* LIVE DB WARNING */
html._live_warning {
  background: #fed7d7;

  body,
  #root,
  #__next {
    background: #fed7d7;
  }
}

body {
  overflow-y: scroll;

  &.__body-no-scroll {
    overflow: hidden;
  }
}

#container,
#container-admin {
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  padding-bottom: var(--page-buttons-height);
  padding-top: 0;

  @media (--md) {
    padding-top: var(--sp-10);
    padding-bottom: 0;
  }
}

#container-admin {
  padding-top: var(--sp-10);
}

#page--container,
#page--container-admin {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-end;
  width: 100%;

  @media (--md) {
    margin-left: var(--sp-10);
    padding: 0 var(--sp-16);
  }
}

#page--container-admin {
  margin-left: 0 !important;
  padding: 0!important;
  padding-bottom: var(--sp-10) !important;
}


.page--content {
  max-width: var(--bmw);
  padding: var(--sp-6);
  margin: 0 auto;

  @media (--sm) {
    padding: var(--sp-8);
  }

  @media (--md) {
    padding: var(--sp-10);
  }

  &._fixed {
    position: fixed;
    left: 0;
    width: 100%;

    @media (--bmw) {
      left: 50%;
      margin-left: calc(-0.5 * var(--bmw));
    } 
  }
}

.page--content_fixed {
  position: fixed;
  width: 90%;
  width: calc(100% - (2 * var(--sp-6)));
}

.breakout--width {
  width: 100%;
  width: calc(100% + (2 * var(--sp-6)));
  margin-left: calc(-1 * var(--sp-6));

  @media (--sm) {
    width: 100%;
    margin-left: 0;
  }
}

.fill-height {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  width: 100%;
}

.hidden {
  display: none;
}

.no-margin {
  margin: 0;
}

.four {
  width: 65.738%;
}

.central {
  margin-left: auto;
  margin-right: auto;
}

.half {
  float: left;
  width: calc(96.197% / 2);
}

.first {
  margin-right: 3.803%;
}

video {
  width: 100%;
}

pre {
  white-space: pre-line;
}

strong,
.bold {
  font-weight: var(--bold);
}

em {
  font-style: italic;
}

a {
  text-decoration: underline;
}

/* Base grid */
.base--grid {
  @apply grid-cols-12 gap-5;
}