button,
a[type=button] {
  border: 0;
  outline: 0;
  cursor: pointer;
  -webkit-appearance: none;

  &:focus {
    outline: none;
  }

  p {
    display: inline;
  }
}

.button {
  display: flex;
  position: relative;
  padding: 0;
  border: none;
  border-radius: var(--button-radius);
  align-items: center;
  white-space: nowrap;

  font-family: var(--font);
  font-size: 1.1rem;
  text-decoration: none;
  
  &:disabled,
  &[disabled] {
    color: var(--disabled-color-text);
    background-color: var(--disabled-color-bg);
    cursor: not-allowed;
    cursor: default;

    @mixin canHover {
      &:hover {
        background-color: var(--disabled-color-bg);
      }
    }
  }

  /* The spinner in a button */
  .button--spinner {
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    height: var(--sp-5);
    width: auto;
    svg {
      height: 100%;
      width: auto;
    }
  }
}

.button--innerText {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-0.05em);

  .button._loading & {
    opacity: 0;
  }
}

.button--basic {
  color: var(--white);
  padding: 0 1.3em;
  height: var(--button-height);
  font-weight: var(--bold);
  justify-content: center;
  cursor: pointer;
}

.button--wide {
  min-width: var(--button-width-wide);
}

.button--full {
  width: 100%;
}

.button--black {
  background-color: var(--black);

  @mixin canHover {
    &:hover {
      background-color: var(--black-hover);
    }
  }

  &:focus {
    background-color: var(--black-hover);
  }
}

.button--green,
.button--success {
  background-color: var(--success-color);

  @mixin canHover {
    &:hover {
      background-color: var(--green-hover);
    }
  }

  &:focus {
    background-color: var(--green-hover);
  }
}

.button--red {
  background-color: var(--error-color);

  @mixin canHover {
    &:hover {
      background-color: var(--red-hover);
    }
  }

  &:focus {
    background-color: var(--red-hover);
  }
}

.button--yellow {
  color: var(--black);
  background-color: var(--yellow);

  @mixin canHover {
    &:hover {
      background-color: var(--yellow-hover);
    }
  }

  &:focus {
    background-color: var(--yellow-hover);
  }
}


.button--cross,
.button--toggle,
.button--close {
  padding: 0;

  width: var(--sp-5);
  height: var(--sp-5);

  .icon {
    line-height: 0;
  }

  svg {
    width: 100%;
    height: 100%;
  }

  @mixin canHover {
    &:hover.-hover {
      svg ellipse {
        fill: var(--grey-dark);
      }
    }
  }
}

.button--close {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: var(--sp-12);
  height: var(--sp-12);

  svg {
    width: var(--sp-5);
    height: var(--sp-5);
  }
}

.button--close-small {
  width: var(--sp-10);
  height: var(--sp-10);
  svg {
    width: var(--sp-4);
    height: var(--sp-4);
  }
}

.button--toggle {
  background-color: var(--success-color);
  color: var(--white);

  .button--innerText {
    transform: none;
  }

  svg {
    * {
      fill: var(--white);
    }
  }

  .spinner {
    svg {
      width: 70%;
    }
  }

  &._off {
    background-color: var(--white);
    border: 2px solid var(--grey);
  }

  .button--spinner {
    width: 85%;
    height: auto;
  }
}


.button--text {
  display: inline;
  font-size: inherit;
  text-decoration: underline;
}

.button--icon {
  font-weight: var(--bold);
  padding: 0 var(--sp-5);
  height: var(--button-height);

  svg {
    height: var(--sp-5);
    width: auto;
    margin-right: var(--sp-4);
    vertical-align: bottom;
  }

  &.button--small {
    svg {
      height: var(--sp-4);
      margin-right: var(--sp-3);
    }
  }

  &.button--x-small {
    svg {
      height: var(--sp-3);
      margin-right: var(--sp-2);
    }
  }

  .button--innerText {
    width: 100%;
  }
}

.button--small {
  font-size: var(--sp-4);
  padding: 0 1.2em;
  height: var(--button-height-small);
}

.button--x-small {
  font-size: var(--sp-4);
  padding: 0 1rem;
  height: var(--sp-9);
  border-radius: var(--full-radius);
}

.button--facebook {
  background-color: var(--color-fb-button);
  color: var(--white);
}

.integration-setup {
  width: 100%;
  background: transparent;
  border: none;
  display: block;
  outline: 2px solid var(--black);
  outline-offset: -2px;
  margin-bottom: 1.5em;
  font-feature-settings: "ss01";
  box-sizing: border-box;
  text-align: left;
  padding: 1.5em;
}

.connected {
  background-color: var(--black);
  color: var(--white);
}

.button_sign-out {
  background-color: transparent;
  color: var(--white);
  border: none;
  font-weight: var(--bold);
  font-size: 1.25em;
  display: inline;
  padding: 0;
  margin: 0;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}


.button_text {
  background-color: transparent;
  display: inline;
  color: var(--black);
  border: none;
  font-weight: normal;
  font-size: 1em;
  padding: 0;
  margin: 0;
  text-decoration: underline;
  cursor: pointer;
}

/* Copy text button */
.button--copy-text {
  border: 1px solid var(--text-color);
  border-radius: var(--button-radius);
  padding: 0.2em 0.5em;
  text-decoration: none;

  &:active,
  &.-success {
    border: 1px solid var(--green);
  }

  .icon {
    position: absolute;
    right: var(--sp-4);
    bottom: 50%;
    transform: translateY(50%) translateY(-0.05rem);
    height: 0.9em;
    width: auto;
  }

  .success-message {
    position: absolute;
    left: var(--sp-4);
    bottom: 50%;
    transform: translateY(50%) translateY(-0.05rem);
  }

  &.-large {
    border: 2px solid var(--text-color);
    padding: 0 0.8em;
    letter-spacing: 0.05em;

    &:active,
    &.-success {
      border: 2px solid var(--green);
    }
  }

  &.-copy-code {
    height: auto;
    padding: 1em;
    padding-right: 3rem;
    overflow-wrap: break-word;

    .text {
      font-size: 0.8rem;
      font-family: monospace;
      width: 100%;
    }

  }
}

/* SHADOW */
.button--shadow {
  box-shadow: 0px 10px 22px -10px rgba(0,0,0,0.75);
}