/* Checkbox
******************/
.outer-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1em;
  height: 1em;
  outline-offset: -1px;
}

.inner-checkbox {
  width: 33%;
  height: 33%;
}

/* Clear
******************/
.clear {
  clear: both;
}

/* Ellipsis
******************/
.dot-one {
  opacity: 0;
  animation: ellipsis-one 2.5s infinite;
}

.dot-two {
  opacity: 0;
  animation: ellipsis-two 2.5s infinite;
}

.dot-three {
  opacity: 0;
  animation: ellipsis-three 2.5s infinite;
}

@keyframes ellipsis-one {
  /* One */
  0% { opacity: 1; }
  24% { opacity: 1; }
  /* Two */
  25% { opacity: 1; }
  49% { opacity: 1; }
  /* Three */
  50% { opacity: 1; }
  74% { opacity: 1; }
  /* Four */
  75% { opacity: 0; }
}

@keyframes ellipsis-two {
  /* One */
  0% { opacity: 0; }
  24% { opacity: 0; }
  /* Two */
  25% { opacity: 1; }
  49% { opacity: 1; }
  /* Three */
  50% { opacity: 1; }
  74% { opacity: 1; }
  /* Four */
  75% { opacity: 0; }
}

@keyframes ellipsis-three {
  /* One */
  0% { opacity: 0; }
  24% { opacity: 0; }
  /* Two */
  25% { opacity: 0; }
  49% { opacity: 0; }
  /* Three */
  50% { opacity: 1; }
  74% { opacity: 1; }
  /* Four */
  75% { opacity: 0; }
}

/* Error
******************/
.error,
.success {
  font-weight: var(--bold);
  width: 100%;
  text-align: left;
}

.error {
  color: var(--red);

  & + .error {
    margin-top: -1em;
  }

  a {
    color: inherit;
  }

}

.success {
  color: var(--green);
}

/* Feed
******************/
.feed {
  font-weight: var(--bold);
}

/* Loading
******************/
.loading {
  width: 100%;
  font-style: italic;
  box-sizing: border-box;
  flex: auto;
}


/* Success message
******************/
.success--message {
  position: relative;
  line-height: 1.5;
  padding-left: var(--sp-6);
}

.success-message_icon {
  position: absolute;
  left: 0;
  bottom: 50%;
  transform: translateY(50%);
  display: inline-block;
  height: 1rem;

  svg {
    height: 100%;
    width: auto;
  }
}

/* NextButton
******************/
.nextbutton {
  background-color: transparent;
  border: none;
  display: inline;
  padding: 0;
  margin: 0;
}

.nextbutton:disabled {
  color: var(--grey-dark);
  background-color: transparent;
}
/* PageHeader
******************/
.page--header {
  width: 90%;
  margin: 0 auto;
  margin-bottom: var(--sp-8);
  flex: none;

  h1 {
    margin-bottom: 0;
  }
}


/* Pencil
******************/
.pencil {
  height: 1em;
}

/* Spinner
******************/
.spinner {
  display: flex;
  flex: auto;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.spinner svg {
  animation: spinner-spin 1.25s infinite linear;
}

@keyframes spinner-spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}


/* Tile
******************/
.tile {
  padding: var(--sp-4);
  border: 2px solid var(--text-color);
  border-radius: var(--dialogue-radius);
  overflow: hidden;

  @media (--md) {
    padding: var(--sp-5);
  }
}

.selected {
  background-color: transparent;
}

.deselected {
  background-color: var(--grey-light);
  border: 2px solid var(--grey-dark);
}

.singular {
  width: 90%;
  box-shadow: initial;
  padding: 0;
  margin-right: 0;
  margin-left: 0;
}

.readonly {
  background-color: var(--text-color);
}

/* Tile
******************/

.overlay::after {
  content: '';
  background-color: rgba(0,0,0,0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.overlay-outer {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

.overlay-inner {
  cursor: wait;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

/* MISSING SCOPES
**********************/
.missing--scopes {
  .button {
    width: 100%;
  }
}
