/*
* DEVICE MEDIA QUERIES
* https://twitter.com/argyleink/status/1252661430618189829
*/

/* Can hover / Desktop */
@define-mixin canHover {
  @media (hover: hover) {
    @mixin-content;
  }
}

/* Smartphones/touchscreens */
@define-mixin mobileDevice {
  @media (hover: none) and (pointer: coarse) {
    @mixin-content;
  }
}

/* Stylus */
@define-mixin stylusDevice {
  @media (hover: none) and (pointer: fine) {
    @mixin-content;
  }
}

/* Wii/Kinect */
@define-mixin gestureDevice {
  @media (hover: hover) and (pointer: coarse) {
    @mixin-content;
  }
}

/* Mouse/touchpad */
@define-mixin mouseDevice {
  @media (hover: hover) and (pointer: fine) {
    @mixin-content;
  }
}

/* Button text */
@define-mixin buttonText {
  font-size: 1rem;
  font-weight: normal;
  border-radius: 0;
  padding: 0;

  position: relative;
  text-decoration: none;

  display: inline;

  &::after {
    content: ' ';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background-color: var(--black);
  }

  &:hover,
  &.-active {
    &::after {
      background-color: var(--green);
    }
  }
}
