.modal--container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal--background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: color-mod(var(--black) alpha(0.8));

  .modal--container.-white & {
    background: color-mod(var(--offwhite) alpha(0.2));
  }

  @media (--md) {
    background: color-mod(var(--black) alpha(0.4));

    .modal--container.-white & {
      background: color-mod(var(--offwhite) alpha(0.8));
    }
  }
}