/* Pill button */
.button--pill {
  background-color: var(--bg-color);
  padding: 0.3em 0.8em;
  padding-bottom: 0.4em;
  border-radius: var(--pill-radius);
  border-color: var(--text-color);
  border-style: solid;
  white-space: nowrap;

  &:not(.pill--option) {
    border-width: 2px;
  }

  &.-small {
    font-size: 0.875rem;
  }

  &.-large {
    padding: 0.5em 1.2em;
    padding-bottom: 0.6em;
  }

  &.-x-large {
    font-size: var(--text-md);
    padding: 0.3em 1.2em;
    padding-bottom: 0.4em;
  }

  &.-has-icon {
    padding: 0.3em 0.8em;

    &.-large {
      padding: 0.5em 1.2em;
      padding-bottom: 0.6em;
    }

    &.-x-large {
      padding: var(--sp-3) var(--sp-3);
    }
  }

  &.-highlighted {
    background-color: color-mod(var(--purple) alpha(0.25));
  }

  &.-active {
    background-color: var(--text-color);
    color: var(--bg-color);
    font-weight: var(--bold);
  }

  &.-inactive {
    background-color: var(--grey-light);
    color: var(--text-color);
    opacity: 0.5;
  }

  &:disabled,
  &[disabled] {
    cursor: not-allowed;
  }

  .pill--options-container.color-green & {
    border-color: var(--green);

    &.-active {
      background-color: var(--green);
      color: var(--black);
    }
  }
}

.button--filter-empty {
  background-color: transparent !important;
  color: var(--text-color) !important;
}

.button--pill-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.03em;

  /* compensate for font weight changes */
  .button--pill.-active & {
    padding: 0;
  }

  svg,
  .icon {
    margin-right: var(--sp-2);
    
    .button--pill.-x-large & {
      margin-right: var(--sp-4);
    }
  }

  svg {
    width: var(--sp-4);
    height: auto;

    .button--pill.-x-large & {
      width: var(--sp-5);
    }
  }

  .button--pill[disabled] &,
  .button--pill:disabled & {
    opacity: 0.2;
  }
}

/* Pill options */
.pill--options {
  display: flex;
}

.pill--option {
  border-radius: 0;
  flex-grow: 1;
  text-align: center;
  font-weight: var(--bold);
  border-style: solid;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-color: var(--text-color);

  &:first-child {
    border-top-left-radius: var(--pill-radius);
    border-bottom-left-radius: var(--pill-radius);
    border-left-width: 2px;
    border-right-width: 1px;
  }
  &:last-child {
    border-top-right-radius: var(--pill-radius);
    border-bottom-right-radius: var(--pill-radius);
    border-right-width: 2px;
    border-left-width: 1px;
  }

  &:disabled {
    border-color: var(--grey);
  }
}