/* TOOLTIPS BUTTON */
.button--tooltip,
.button--information {
  @mixin canHover {
    &:hover {
      svg circle {
        stroke: var(--green);
      }
    }
  }
}

.button--tooltip-text {
  margin-bottom: 0;
  transform: translateY(-0.04em);
  text-decoration: underline;
}

.button--tooltip-icon {
  height: auto;
  padding: var(--sp-2);
  box-sizing: content-box;
}

/* CONTAINER */
.tooltip--container {
  display: inline-block;
  position: relative;
  z-index: 2;
  text-align: left;
}

/* SLIDES */
.tooltip--slides-container {

}

.tooltip--slides-wrapper {
  margin-bottom: 0;
}

.tooltip--slides-navigation {
  position: absolute;
  right: var(--sp-3);
  bottom: calc(var(--sp-3) + 3px);
  width: var(--sp-10);
  font-size: var(--sp-3);
  height: 1em;

  .swiper-button-prev,
  .swiper-button-next {
    height: 1em;
  }

  .swiper-button-prev {
    left: 0;
  }

  .swiper-button-next {
    right: 0;
  }

}

.tooltip--slides-pagination {
  left: var(--sp-3);
  bottom: var(--sp-3);
}

.tooltip--slides-slide {

  .text--block * {
    margin-bottom: var(--sp-4);
  }
  
  .text--block:last-child {
    margin-bottom: 0;
  }
}

/* MESSAGE */
.tooltip--message {
  position: absolute;
  background-color: var(--bg-color);
  box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.15);
  font-weight: normal;

  &.-left {
    transform: translateY(-50%);
  }

  &.-right {
    transform: translateY(-50%);
  }

  &.-top {
    transform: translateY(-100%);
  }

  > *:last-child {
    margin-bottom: 0;
  }


  .text--block {
    margin-bottom: 0;
  }
}

.tooltip--arrow {
  position: absolute;
  width: 12px;
  height: 12px;
  border-top: 2px solid var(--green);
  border-right: 2px solid var(--green);
  border-radius: var(--button-radius);
  background-color: var(--bg-color);

  /* Left arrow */
  .tooltip--message.-left & {
    right: -1px;
    bottom: 50%;
    transform: translateX(50%) translateY(50%) rotate(45deg);
  }

  /* Right arrow */
  .tooltip--message.-right & {
    left: -1px;
    bottom: 50%;
    transform: translateX(-50%) translateY(50%) rotate(225deg);
  }

  /* Top arrow */
  .tooltip--message.-top & {
    left: 50%;
    bottom: -1px;
    transform: translateX(-50%) translateY(50%) rotate(135deg);
  }

  /* Bottom arrow */
  .tooltip--message.-bottom & {
    left: 50%;
    top: 4px;
    transform: translateX(-50%) translateY(-100%) rotate(-45deg);
  }
}

/* Left and right for narrow screens converted to bottom */
@media (--xsMax) {
    .tooltip--message.-left,
    .tooltip--message.-right {
      transform: translateY(0);

      .tooltip--arrow {
        left: 50%;
        top: 4px;
        bottom: auto;
        right: auto;
        transform: translateX(-50%) translateY(-100%) rotate(-45deg);
      }
    }

  }