.tooltip--container {
  position: relative;
  z-index: 3;
}

.tooltip--message {
  position: absolute;
  background-color: var(--bg-color);

  &.-left {
    left: -5px;
    bottom: 50%;
    transform: translateX(-100%) translateY(50%);
  }

  > *:last-child {
    margin-bottom: 0;
  }

  /* The arrow */
  &::after {
    content: ' ';
    position: absolute;
    width: 12px;
    height: 12px;
    border-top: 2px solid var(--green);
    border-right: 2px solid var(--green);
    border-radius: var(--button-radius);
    background-color: var(--bg-color);
  }

  &.-left {
    &::after {
      right: -1px;
      bottom: 50%;
      transform: translateX(50%) translateY(50%) rotate(45deg);
    }
  }
}