.tooltip--container {
  position: relative;
  z-index: 2;
}

/* SLIDES */
.tooltip--slides-container {

}

.tooltip--slides-wrapper {
  margin-bottom: 0;
}

.tooltip--slides-navigation {
  position: absolute;
  right: var(--sp-3);
  bottom: calc(var(--sp-3) + 3px);
  width: var(--sp-10);
  font-size: var(--sp-3);
  height: 1em;

  .swiper-button-prev,
  .swiper-button-next {
    height: 1em;
  }

  .swiper-button-prev {
    left: 0.2em;
  }

  .swiper-button-next {
    right: 0.2em;
  }

}

.tooltip--slides-pagination {
  left: var(--sp-3);
  bottom: var(--sp-3);
}

.tooltip--slides-slide {
  .text--block:last-child {
    margin-bottom: 0;
  }
}

/* MESSAGE */
.tooltip--message {
  position: absolute;
  background-color: var(--bg-color);
  box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.15);

  .text--block p {
    margin-bottom: var(--sp-4);
  }

  &.-left {
    left: -5px;
    bottom: 50%;
    transform: translateX(-100%) translateY(50%);
  }

  > *:last-child {
    margin-bottom: 0;
  }

  /* The arrow */
  &::after {
    content: ' ';
    position: absolute;
    width: 12px;
    height: 12px;
    border-top: 2px solid var(--green);
    border-right: 2px solid var(--green);
    border-radius: var(--button-radius);
    background-color: var(--bg-color);
  }

  &.-left {
    &::after {
      right: -1px;
      bottom: 50%;
      transform: translateX(50%) translateY(50%) rotate(45deg);
    }
  }
}