/* Element transitions */
.fade-enter{
   opacity: 0;
}
.fade-exit{
   opacity: 1;
}
.fade-enter-active{
   opacity: 1;
}
.fade-exit-active{
   opacity: 0;
}
.fade-enter-active,
.fade-exit-active{
   transition: opacity 500ms;
}

/* Page transitions */
.page-transition-enter,
.page-transition-enter-done,
.page-transition-enter-active,
.page-transition-exit,
.page-transition-exit-active {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-end;
  width: 100%;

  & > * {
    width: 100%;
  }
}

.page-transition-enter {
  opacity: 0;
}

.page-transition-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.page-transition-exit {
  opacity: 1;
}

.page-transition-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}