/* BODY */
body {
  font-family: var(--font);
  font-size: var(--base-font-size);
  color: var(--text-color);
  line-height: 1.4;
}

/* Basic type styles */
a {
  color: inherit;

  &[href],
  &.-hover--green {
    @mixin canHover {
      &:not(.button):hover {
        color: var(--green);
      }
    }
  }

  &.no--hover {
    color: inherit !important;
  }
}


strong,
.strong {
  font-weight: var(--bold);
}

.display {
  font-family: var(--font-display);
  font-feature-settings: "ss01";
}

/* Header styles */
h1,
.h1 {
  @extend .display;
  font-size: 2em;
  font-weight: var(--bold-display);
}


h2,
.h2 {
  @extend .display;
  font-size: 1.5em;
  font-weight: var(--bold-display);
}

h3,
.h3 {
  @extend .display;
  font-family: var(--font-display);
  font-size: 1.333em;
}

h4,
.h4 {
  @extend .display;
  font-size: 1.2rem;
}

h5,
.h5 {
  font-weight: var(--bold);
}

p,
.p {
  font-size: 1em;
}

.small--p {
  font-size: 0.75em;
}

.xsmall--p {
  font-size: 0.667em;
}

/* Force text wrapping */
/* Useful for text that can include long URLs */
/* https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
.force--text--wrap {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

/* TEXT BLOCK */
.text--block {
  margin-bottom: var(--sp-5);

  *:last-child {
    margin-bottom: 0;
  }

  ul,
  ol {
    padding-left: 1em;
    margin-bottom: var(--sp-5);

    li {
      margin-bottom: 0.5em;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
    padding-left: 1.5em;
  }

  blockquote {
    padding-left: var(--sp-5);
  }

  h2, h3, h4 {
    padding-top: var(--sp-2);
  }
}

/* Global para styles inside .text-block containers */
.h3--text {
  p,
  li {
    font-size: 1.333em;
  }
}

.h4--text {
  p,
  li {
    font-size: 1.2rem;
  }
}

.small--text {
  p,
  li {
    font-size: 0.75em;
  }
}

.xsmall--text {
  p,
  li {
    font-size: 0.667em;
  }
}

/* CUSTOM TEXT STYLES */
.green--underline {
  display: inline-block;
  border-bottom: 2px solid var(--green);
  margin-bottom: 4px;
}

.black--underline {
  display: inline-block;
  border-bottom: 2px solid var(--black);
}

/* SELECTED TEXT COLOR */
::selection {
  color: var(--text-color);
  background: var(--yellow);
}
