/* 
**************************
DETAILS
**************************/
/* .accountPageDetails {

  .row {
    margin-bottom: var(--sp-5);
    justify-content: space-between;
  }

  .submitButton {
    margin-top: var(--sp-5);
  }
} */

.payment-details {
  width: 100%;
}



/* 
**************************
SUMMARIES
**************************/

.accountPageSection {
  padding-top: var(--sp-5);
  padding-bottom: var(--sp-10);
}

.accountPageSection__details {
  margin-bottom: var(--sp-5);
  .p {
    margin-bottom: 0.3em;
    height: auto !important;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.accountPage__paymentIntro {
  margin-bottom: var(--sp-8);
}

.paymentSummaryBlock {
  margin-bottom: 2em;
  &:last-child {
    margin-bottom: 0;
  }
}

.paymentSummaryName {
  margin-bottom: 0.5em;
}

.cardBrand {
  text-transform: capitalize;
}

.h2 {

}
