/* Connect Artist panels */
.artistIntegrations {

  :global(.flex-row) {
    margin-bottom: 1.5em;
  }
}

.tile {
  position: relative;
  &.readOnly {
    background-color: var(--grey-light);
    border: none;
  }
}

.tileHeader {
  padding-right: calc(var(--sp-5) * 1.5);

  .readOnly & {
    padding-right: 0;
  }
}

.profile-picture {
  min-width: 33%;
  margin-right: var(--sp-2);
  border-radius: var(--dialogue-radius);
  overflow: hidden;

  :global(.media--square) {
    margin-top: 0;
  }
}


.right-of-profile {
  justify-content: flex-start;
  padding-top: 0.1em;
  padding-left: calc(0.5 * var(--sp-5));
}


.adaccount-select {
  :global(select),
  :global(input) {
    margin-bottom: 0;
  }
}