.faqItem {
  border-bottom: 1px solid var(--grey-light);
  padding-bottom: var(--sp-8);
  margin-bottom: var(--sp-8);
  line-height: 1.3em;

  h4 {
    font-weight: var(--bold-display);
  }

  /* For making sure the markdown has worked */
  :global(pre) {
    color: pink;
  }
}