.Footer {
  padding-top: var(--sp-8);
  padding-bottom: var(--sp-5);
  padding-right: var(--sp-5);

  transform: translateY(var(--page-buttons-height)) translateY(calc(-1 * var(--sp-5)));

  @media (--md) {
    transform: none;
  }

  &._loggedIn {
    padding-bottom: var(--sp-8);
    transform: none;

    @media (--md) {
      padding-left: var(--sp-25);
      margin-left: var(--sp-1);
      padding-bottom: calc(var(--sp-5) + 1px);
    }
  }
}

.linkItem {
  margin-right: var(--sp-5);
  font-size: 14px;

  @media (--iphone8) {
    font-size: var(--base-font-size);
  }

  :global(a._active) {
    text-decoration: none;
  }

  &:last-child {
    margin-right: 0;
  }
}