.selectorsOuter {

}

.selectorsLabel {
  padding-left: var(--sp-5);

  @media(--sm) {
    padding-left: 0;
  }
}

.platformSelectors,
.dataSelectors {
  display: flex;
  padding: calc(0.5 * var(--sp-5)) 0;
  width: 100%;
  padding-left: var(--sp-5);
  border-top: 2px solid var(--black);
  overflow-x: auto;
  margin-bottom: var(--sp-5);

  /* For desktops */
  @mixin canHover {
    flex-wrap: wrap;
    padding-top: var(--sp-5);
    padding-left: var(--sp-5);
    padding-bottom: 0;
  }

  @media(--sm) {
    padding-left: 0;
  }

  --active-color: var(--black);
}

.dataSelectors {
  padding-top: var(--sp-5);
}

.platformButtonContainer,
.dataButtonContainer {
  /* For desktops */
  @mixin canHover {
    margin-bottom: var(--sp-5);
  }
}

.platformButtonContainer {
  padding-right: var(--sp-5);

  @media(--bmw) {
    &:last-child {
      padding-right: 0;
    }
  }
}

.platformButton {
  text-transform: capitalize;

  @supports (color: var(--)) { 
    .platformButtonContainer._active & {
      border: 2px solid var(--black) !important;
      border: 2px solid var(--active-color) !important;
    }
  }
  
  @mixin canHover {
    &:hover {
      border: 2px solid var(--grey) !important;
    }
  }
}

.platformButton {
  @supports (color: var(--)) { 
    .platformButtonContainer._active & {
      border: 2px solid var(--black) !important;
      border: 2px solid var(--active-color) !important;
    }
  }
  
  @mixin canHover {
    &:hover {
      border: 2px solid var(--grey) !important;
    }
  }
}

.dataButtonContainer {
  display: flex;
  position: relative;
  margin-right: calc(0.5 * var(--sp-5));
  flex-shrink: 0;
  min-width: 10em;
  line-height: 1.5;
  margin-bottom: 0;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0.5em;
    width: calc(100% - var(--sp-10));
    height: 2px;
    background-color: var(--grey);
    opacity: 0;
  }

  @mixin canHover {
    &:hover {      
      a {
        color: var(--black) !important;
      }

      &::after {
        opacity: 1;
      }
    }
  }

  &._active {
    &::after {
      opacity: 1;
      background-color: var(--green);
      background-color: var(--active-color);
    }
  }
}

.dataButton {
  width: 100%;
  text-decoration: none;
  padding-right: var(--sp-10);
  padding-bottom: var(--sp-5);
}

.dataButton_title {
  font-weight: var(--bold);
  text-transform: capitalize;
}

.dataButton_subtitle {

}