.pageContainer {
  opacity: 0;
  transition: opacity var(--trans);

  &._ready {
    opacity: 1;
  }
}

.pageHeader {
 margin-bottom: var(--sp-10) !important; 
}

/* CHARTS */
.dataContent {
  width: 100%;
  margin-top: var(--sp-8);
}

.chartOuter {
  min-height: 300px;
  margin-bottom: var(--sp-10);

  &._numberChart {
    min-height: 0;
  }

  @media (--xxs) {
    margin-bottom: var(--sp-24);
  }
}

.chartContainer__doughnut {
  width: 80%;
  margin: 0 auto;
}

.chartContainer__bar {
  position: relative;
  width: 100%;
  margin-bottom: var(--sp-8);
  
  &._loading {
    pointer-events: none;
  }

  :global(canvas) {
    position: relative;
    z-index: 2;
  }
}

.chartContainer__inner {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  margin: 0 auto;

  @media (--bmw) {
    width: 100%;
  }
}

/* BAR CHART LOADING SPINNER & ERROR */
.chartError,
.chartSpinner {
  position: absolute;
  z-index: 3;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  width: 30px;
}

.chartError {
  width: 100%;
  text-align: center;
  font-weight: var(--bold);
  font-size: 1.2em;
}

/* CHART OVERLAY */
.chartBackground,
.chartOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 1px solid var(--grey);
  border-bottom: 1px solid var(--grey);
  display: flex;
  align-items: center;
  pointer-events: none;
  z-index: 2;
}

.chartBackground {
  z-index: 0;
}

.chartMidline {
  z-index: 0;
  border-top: 1px solid var(--grey);
  border-right: none;
  border-bottom: none;
  border-left: none;
  margin: 0;
  width: 100%;
}

.chartLeftMax,
.chartLeftMid,
.chartLeftMin,
.chartRightMax,
.chartRightMid,
.chartRightMin {
  position: absolute;
  background-color: var(--white);
  padding: 0.25em;
  z-index: 3;
  border-radius: 5px;
  font-size: 12px;

  .chartContainer__bar._loading & {
    opacity: 0;
  }
}

.chartRightMax,
.chartRightMid,
.chartRightMin {
  right: -1.5em;
}

.chartLeftMax,
.chartLeftMid,
.chartLeftMin {
  left: -1.5em;
}

.chartLeftMax,
.chartLeftMid,
.chartRightMax,
.chartRightMid {
  transform: translateY(-0.15em);
}

.chartLeftMax,
.chartRightMax {
  top: -0.75em;
}

.chartLeftMin,
.chartRightMin {
  bottom: -0.75em;
}

.xAxisLabels {
  display: flex;
  position: absolute;
  padding: 0 1em;
  bottom: -4em;
  width: 100%;
  justify-content: space-between;
  font-size: 12px;

  .chartContainer__bar._loading & {
    opacity: 0;
  }

  @media (--bmw) {
    padding: 0;
  }
}

/* CONTENT UNDER CHART */
.promotePostsButton {
  margin-bottom: var(--sp-10);
}

/* NUMBER CHART */
.chartNumber__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  margin-bottom: calc(-1 * var(--sp-10));
  text-align: center;
}

.chartNumber__number {
  font-size: 20vw;
  font-feature-settings: 'kern' 1, 'ss01' 1;
  letter-spacing: -0.05em;
  margin-bottom: -0.1em !important;
  transition: opacity 250ms ease;

  .chartNumber__container._loading & {
    opacity: 0;
  }

  @media (--bmw) {
    font-size: 150px;
  }
}

.chartNumber__title {
  font-size: 0.8em;
  width: 100%;
  transition: opacity 250ms ease;

  .title {
    font-weight: var(--bold);
    text-transform: capitalize;
  }

  .chartNumber__container._loading & {
    opacity: 0;
  }

  @media (--xxs) {
    font-size: 0.9em;
  }

  @media (--xs) {
    font-size: 1em;
  }
}

.chartNumber__spinner {
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
}

/* PROJECTION SENTENCE */
.projectionContainer {
  margin-top: var(--sp-24);
  margin-left: var(--sp-5);
  margin-right: var(--sp-5);

  @media (--xxs) {
    margin-top: var(--sp-32);
  }

  @media (--sm) {
    margin-left: 0;
    margin-right: 0;
  }

  @media (--lg) {
    margin-top: 0;
  }
}

.projectionText {
  padding: var(--sp-5);
  border-radius: var(--dialogue-radius);
  margin-bottom: 0 !important;

  @media (--xxs) {
    font-size: 1.2em;
  }
}