/* POSTS PAGE */
.postsScroller {
  width: 100%;
  margin-left: 0 !important;
  align-items: start;
}

.postsSection {
  .h4 {
    margin-left: 5%;
    margin-right: 5%;
  }
}

.introText {
  margin-bottom: var(--sp-8) !important;
}

.postSettingsButton {
  margin-bottom: var(--sp-8);

  :global(.button--innerText) {
    align-items: center;
  }

  svg {
    transform: none;
  }
}

/* NO POSTS */
.noPosts {
  flex: auto;
  .h4,
  .p {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}
