/* POSTS PAGE */
.postsScroller {
  width: 100%;
  align-items: start;
  max-width: 30rem;
  margin: 0 auto;
  padding-top: var(--sp-5);

  @media (--xs) {
    margin: 0;
    max-width: none;
  }
}

.postsSection {
  .h4 {
    margin-left: 5%;
    margin-right: 5%;
  }
}

.introText {
  margin-bottom: var(--sp-8) !important;
}

.postsTopButton {
  margin-bottom: var(--sp-5);
  &:last-child {
    margin-bottom: 0;
  }

  @media (--iphone8) {
    margin-bottom: 0;
    margin-right: var(--sp-5);

    &:last-child {
      margin-right: 0;
    }
  }

  :global(.button--innerText) {
    align-items: center;
  }

  svg {
    transform: none;
  }
}


/* NO POSTS */
.noPosts {
  flex: auto;
  .h4,
  .p {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}
