.TheHeader {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  padding-top: var(--sp-6);
  padding-bottom: calc(var(--sp-20) + var(--sp-1));

  @media (--min-content) {
    padding-top: 0;
  }

  @media (--md) {
    position: static;
    padding-bottom: calc(var(--sp-10) + var(--sp-6));
    margin-top: calc(-2 * var(--sp-6));
  }
}


.dropShadow,
.background,
.logoContainer,
.subNavButton {
  position: absolute;
  top: var(--sp-4);

  .TheHeader._subNavOpen & {
    @media (--mdMax) {
      position: fixed;
    }
  }

  @media (--md) {
    position: fixed;
    top: var(--sp-10);
  }

  @media (--bmw) {
    top: var(--sp-10);
  }
}

.background,
.logoContainer {
  left: 0;
  width: var(--sp-10);

  @media (--md) {
    left: var(--sp-6);
  }

  .logo {
    width: 100%;
  }

  svg {
    width: 100%;
    height: auto;
  }
}


.logoContainer {
  display: block;
  z-index: 28;

  .TheHeader._subNavOpen & {
    @media (--mdMax) {
      left: var(--sp-8);
    }

    @media (--smMax) {
      left: var(--sp-6);
    }
  }

  @media (--md) {
    left: var(--sp-5);
    top: var(--sp-5);
  }
}

.dropShadow,
.background {
  top: 0;
  left: 50%;
  width: 100vw;
  height: calc(((var(--sp-10) / 0.82) * 1) + var(--sp-4) + var(--sp-3));
  margin-left: -50vw;
  z-index: 18;
  background: color-mod(var(--bg-color) alpha(0.6));

  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  @media (--md) {
    display: none !important;
  }
}

.dropShadow {
  z-index: 17;
  background: none;
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);
  visibility: hidden;

  /* Drop shadow */
  :global(.peek-element.scrolling-up) &,
  :global(.peek-element.scrolling-down) & {
    visibility: visible;
  }
}

.subNavButton {
  right: 0;
  width: var(--sp-10);
  z-index: 28;

  .TheHeader._subNavOpen & {
    @media (--mdMax) {
      right: var(--sp-6);
    }
  }

  @media (--md) {
    right: auto;
    left: var(--sp-5);
    top: auto;
    bottom: var(--sp-5);
    width: var(--sp-10);
  }
}


.pageTitle {
  z-index: 19;
  margin-bottom: var(--sp-10);

  @media (--xxs) {
    position: absolute;
    left: 0;
    top: 1.6em;
    width: 100%;
    padding: 0 calc(var(--sp-10) + var(--sp-4));
    margin-bottom: 0;
    text-align: center;

    h1 {
      font-size: 1.5em;
    }
  }

  @media (--min-content) {
    position: static;
    padding-top: var(--sp-5);
    padding-left: calc(var(--sp-10) + var(--sp-10) + var(--sp-6));
    padding-right: var(--sp-16);
    text-align: left;

    h1 {
      font-size: 2.5em;
    }
  }


  @media (--md) {
    transform: translateY(0.2em);
  }

  h1 {
    margin-bottom: 0;
  }

  transition: opacity var(--trans);

  &._hidden {
    opacity: 0;
    transition: none;
  }
}
