.container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 26;

  border-top: 1px solid var(--green);
  background-color: var(--bg-color);
  box-shadow: 0px -2px 16px rgba(0, 0, 0, 0.07);

  transition: opacity var(--trans);

  &._artistLoading {
    transform: translateY(100%);
    opacity: 0;
    pointer-events: none;
  }

  @media (--md) {
    top: 0;
    bottom: 0;
    left: 0;
    width: auto;
    border-top: none;
    background-color: none;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.07);
    padding: var(--sp-2);
    border-top: none;
    border-right: 2px solid var(--green);
    padding-top: 8.25rem;
    will-change: transform, opacity;
  }
}

.inner {
  display: flex;
  justify-content: space-between;
  padding: 8px var(--sp-6);
  padding-bottom: calc(7px + env(safe-area-inset-bottom));

  @media (--xxs) {
    padding: 8px var(--sp-8);
    padding-bottom: calc(7px + env(safe-area-inset-bottom));
  }
  
  @media (--xs) {
    justify-content: center;
  }

  @media (--md) {
    padding: 0;
    flex-direction: column;
  }

  /* MOBILE PWA */
  @media (display-mode: standalone) {
    .container.ios_mobile & {
      padding-bottom: var(--sp-8);
    }
  }
}

.link {
  text-align: center;
  font-size: 12px;

  @media (--xs) {
    padding: 0 var(--sp-5);
    margin: 0 10px;
  }

  @media (--md) {
    margin: var(--sp-5) 0;
    padding: 0;
    width: calc(var(--sp-10) * 1.2);

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.linkAnchor {
  display: block;
  text-decoration: none;
  color: var(--text-color);

  &._active {
    color: var(--text-color) !important;
  }

  @mixin canHover {
    &:hover {
      color: var(--green);
    }
  }
}


.linkIcon {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0 auto;
  width: 1.8em;
  height: 1.8em;
  margin-bottom: 0.3em;
  margin-top: 0.2em;

  opacity: 0.4;
  transition: opacity var(--trans);

  /* Post link icon */
  .linkAnchor_posts & {
    svg {
      width: 95%;
    }
  }

  .linkAnchor._active & {
    opacity: 1;
  }

  .shortIcon {
    width: 94%;
  }
  
  svg {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  @media (--md) {
    margin-top: 0;
  }
}

.linkTitle {
  margin-bottom: 0;
  width: 100%;

  .linkAnchor._active & {
    font-weight: var(--bold);
  }
}

.buttonBadge {
  top: -0.3rem;
  right: 0.3rem;

  .linkAnchor_posts & {
    right: -0.1rem;
  }
}