.button {
  text-decoration: none !important;
}

.container {
  overflow: hidden;
}

.image {
  :global(> *) {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
}

.inner {
  padding-top: 100%;
  border-radius: 9999999px;
}

.spinner {
  width: 80%;
  height: auto;
  margin: 0 auto;
}

.frontIcon,
.backIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999999px;
  overflow: hidden;

  svg {
    width: 100%;
    height: auto;
  }
}

.backIcon {
  border: 2px solid var(--bg-color);
  background: var(--text-color);
}

.backIcon_inner {
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    width: 80%;
    height: auto;
  }
}

.buttonTitle {
  font-size: 12px;
  padding-top: 0.5em;
  display: none;
  margin-bottom: 0;
  text-align: center;
  
  @media (--md) {
    display: block;
  }
}