.container {
  position: fixed;
  left: 0;
  width: 100%;
  top: 0;
  z-index: 27;

  font-family: var(--font-display);
  background: var(--text-color);
  color: var(--bg-color);

  padding-top: calc(var(--sp-5) + var(--sp-12) + var(--sp-12));
  padding-bottom: var(--sp-10);
  overflow: auto;


  /* Animation */
  display: none;
  will-change: transform;
  transform-origin: center top;
  transform-origin: right center;
  transform: scaleX(0);

  @media (--md) {
    padding: var(--sp-10);
    padding-top: var(--sp-32);
    transform: translateX(-100%);
    width: auto;
    min-width: var(--sp-80);
  }

  :global(a) {
    color: inherit;
    text-decoration: none;
  }
}

.contents {
  height: 100%;
  opacity: 0;
  will-change: opacity;
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;

  @mixin mobileDevice {
    min-height: 0;
  }

  > * {
    width: 100%;
  }

  /* Short screen */
  @media (--xsHeight) {
    justify-content: flex-start;
  }


  @media (--md) {
    justify-content: space-between;
  }
}

/*
 ARTISTS
 **********
*/

.artistsOuter {
  display: flex;
  flex-direction: column;
  margin-top: calc(-1 * var(--sp-4));
}

.artistSelect,
.artistLinks {
  margin-left: var(--sp-1);

  @media (--md) {
    margin-left: 0;
  }
}

.artistSelect {
  margin-bottom: var(--sp-5) !important;
  @media (--md) {
    margin-bottom: 5px;
  }
}

.artistLinks {
  position: relative;
  margin-bottom: var(--sp-5);
  width: auto;

  @media (--md) {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.artistLink {
  margin-bottom: var(--sp-5);

  &:last-child {
    margin-bottom: 0;
  }

  &._active {
    font-weight: var(--bold-display);
  }
}

.artistLink_button {
  display: flex;
  align-items: center;
}

.artistLink_image {
  height: var(--sp-8);
  width: var(--sp-8);
  margin-right: var(--sp-5);
  opacity: 0.5;
  background-color: var(--bg-color);

  .artistLink._active & {
    opacity: 1;
    border: 2px solid var(--bg-color);
  }
}

.artistLink_name {

}

/*
 LINKS
 **********
*/

.links {
  margin-left: var(--sp-1);
  font-weight: var(--bold-display);
  margin-bottom: var(--sp-5);

  @media (--md) {
    margin-bottom: 0;
  }
}

.linkItem {
  margin-bottom: var(--sp-6);

  :global(._active) {
    color: var(--green);
  }
}

.signOutLink_desktop,
.signOutLink_mobile {

  font-size: 14px !important;

  a {
    opacity: 0.7;
  }

  @mixin canHover {
    a:hover {
      opacity: 1;
    }
  }
}

.signOutLink_mobile {
  opacity: 0.7;
  margin-bottom: 0;
  justify-self: flex-end;

  @mixin mobileDevice {
    padding-top: var(--sp-6);
    padding-bottom: var(--sp-6);
  }

  a {
    padding: 1em;
    padding-left: 0;
    padding-bottom: 0;
  }

  @media (--md) {
    display: none;
  }
}

.signOutLink_desktop {
  display: none;
  margin-bottom: var(--sp-12);

  @media (--md) {
    display: block;
  }
}

/* Background, for desktop */
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: color-mod(var(--black) alpha(0.2));
  z-index: 13;
  opacity: 0;

  display: none;
}