/* TOURNAMENT ITEM */
.tournamentItem {
  align-items: center;
}

.vs {
  font-weight: var(--bold);

  @media (--sm) {
    transform: translateX(0.25rem);
  }
}

/* TOB BAR */
.topBar {
  border-bottom: 2px solid var(--text-color);
  font-size: 0.9em;

  .status {
    font-weight: var(--bold);
  }

  @media (--xxs) {
    font-size: 1em;
  }

  p {
    margin-bottom: 0;
  }
}

/* TOURNAMENT ITEM AD */
.itemAd {
  transform-origin: left center;

  @media (--sm) {
    transform: scale(0.9);
  }

  @media (--md) {
    transform: none;
  }
}

.postScore_number {
  display: inline-block;
  font-family: var(--font);
  font-weight: var(--bold);
  border-bottom: 0.25rem solid transparent;

  .postScore._winner & {
    border-bottom: 0.25rem solid var(--green);
  }
}

/* TOURNAMENT METRIC COLUMNS */
.metricColumn {
  h4 {
    font-size: 1em;
    font-weight: var(--bold);

    .infoTooltip {
      transform: translateY(0.05em);
    }
  }

  p {
    font-size: 0.9em;
  }
}

/* TOURNAMENT METRIC TABLE */
.dataTable {
  margin-top: var(--sp-8);
  font-size: 0.8em;

  @media (--xxs) {
    font-size: 0.9em;
  }

  @media (--sm) {
    margin-top: 0;
    font-size: 1em;
  }

  th,
  tr td:first-child {
    font-weight: var(--bold);
  }

  th,
  td {
    padding: var(--sp-2) var(--sp-10);
    padding-left: 0;

    &:last-child {
      padding-right: 0;
    }
  }

  tr {
    border-bottom: 1px solid var(--text-color);
  }

  thead tr {
    border-bottom: 2px solid var(--text-color);
  }

  tbody tr:last-child {
    border-bottom: none;
  }

  &._singleAd .dataCell {
    text-align: right;
    padding-right: 0;
  }

   {
    .dataTable._singleAd & {
      text-align: right;
    }
  }
}

.infoTooltip {
  button {
    padding-top: 0;
    padding-bottom: 0;
  }
}