/* TOURNAMENT ITEM */
.tournamentItem {
  align-items: center;
}

/* TOB BAR */
.topBar {
  border-bottom: 2px solid var(--text-color);
  font-size: 0.9em;

  .status {
    font-weight: var(--bold);
  }

  @media (--xxs) {
    font-size: 1em;
  }

  p {
    margin-bottom: 0;
  }
}

/* DESKTOP LAYOUT */
.tournamentItemDesktop {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.tournamentColumn {
  display: flex;
  flex-direction: column;
  padding: 0 var(--sp-5);
  margin-top: var(--sp-16);
  text-align: center;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
}

.tournamentColumn_title {
  display: flex;
  align-items: center;
  margin-bottom: 0 !important;
  margin-top: calc(-1 * var(--sp-6));
  transform: translateY(calc(-1 * var(--sp-5)));
  padding-bottom: 0.2em;
  border-bottom: 1px solid var(--text-color);
  
  font-style: italic;
}

.tournamentColumn_item {
  display: flex !important;
  align-items: center;
  justify-content: center;
  height: var(--sp-24);
  margin-bottom: 0 !important;
  transform: translateY(0.1rem);
  
  &._lastItem,
  &:nth-child(3) {
    margin-top: var(--sp-10);
  }
}

/* TOURNAMENT ITEM AD */
.itemAd {
  transform-origin: left center;

  @media (--sm) {
    transform: scale(0.9);
  }

  @media (--md) {
    transform: none;
  }
}


.postScore,
.postStreak {
  span {
    display: inline-block;
    border-bottom: 0.25rem solid transparent;
    transform: translateY(0.25rem)
  }
}

.postScore {
  ._winner {
    span {
      border-bottom: 0.25rem solid var(--green);
    }
  }
}

.postStreak {
  ._winner {
    span {
      &::before {
        content: '🚀 ';
        display: inline-block;
        font-size: 0.8em;
        margin-right: 0.4em;
        transform: translateY(0.05em);
      }
    }
  }
}

.postScore_number {
  display: inline-block;
  font-family: var(--font);
  font-weight: var(--bold);
  border-bottom: 0.25rem solid transparent;

  .postStreak._winner & {
    &::before {
      content: '🚀 ';
      display: inline-block;
      font-size: 0.8em;
      margin-right: 0.4em;
      transform: translateY(0.05em);
    }
  }
}

/* TOURNAMENT METRIC COLUMNS */
.metricColumn {
  h4 {
    font-size: 1em;
    font-weight: var(--bold);

    .infoTooltip {
      transform: translateY(0.05em);
    }
  }

  p {
    font-size: 0.9em;
  }
}

/* TOURNAMENT METRIC TABLE */
.dataTable {
  margin-top: var(--sp-8);
  font-size: 0.8em;

  @media (--xxs) {
    font-size: 0.9em;
  }

  @media (--sm) {
    margin-top: 0;
    font-size: 1em;
  }

  th,
  tr td:first-child {
    font-weight: var(--bold);
  }

  th,
  td {
    padding: var(--sp-2) var(--sp-10);
    padding-left: 0;

    &:last-child {
      padding-right: 0;
    }
  }

  tr {
    border-bottom: 1px solid var(--text-color);
  }

  thead tr {
    border-bottom: 2px solid var(--text-color);
  }

  tbody tr:last-child {
    border-bottom: none;
  }

  &._singleAd .dataCell {
    text-align: right;
    padding-right: 0;
  }

   {
    .dataTable._singleAd & {
      text-align: right;
    }
  }
}

.infoTooltip {
  button {
    padding-top: 0;
    padding-bottom: 0;
  }
}