a,
button,
input[type='submit'] {
  cursor: pointer;
}

button {
  border: 0;
  outline: 0;
  background: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  p {
    display: inline;
  }
}

@define-extend base-button {
  width: 100%;
  padding: 0.3em 1em 0.4em 1em;
  margin: 0;
  border-radius: var(--button-radius);
  border: none;
  font-family: var(--font);
  font-weight: var(--bold-display);
  text-align: center;
}

.button,
.button--large,
.button--text {
  @extend base-button;
  text-decoration: none;

  &:focus {
    outline: none;
  }

  &:disabled,
  &[disabled] {
    color: var(--disabled-color-text);
    background-color: var(--disabled-color-bg);
    cursor: not-allowed;
    cursor: default;

    @mixin canHover {
      &:hover {
        background-color: var(--disabled-color-bg);
      }
    }
  }
}

.button,
.button--large {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button--large {
  font-size: 2rem;
  font-family: var(--font-display);
  box-shadow: black 3px 3px 0px 0px;

  &:active {
    box-shadow: none;
  }
}

/* BUTTON TEXT */
@define-mixin buttonText {
  font-size: 1rem;
  font-weight: normal;
  border-radius: 0;
  padding: 0;

  position: relative;
  text-decoration: none;

  display: inline;

  &::after {
    content: ' ';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background-color: var(--black);
  }

  &:hover,
  &.-active {
    &::after {
      background-color: var(--green);
    }
  }
}

.button--text {
  @mixin buttonText;
}

.button--black {
  background-color: var(--black);
  color: var(--white);

  @mixin canHover {
    &:hover {
      background-color: var(--black-hover);
    }
  }

  &:focus {
    background-color: var(--black-hover);
  }
}

.button--green,
.button--success {
  background-color: var(--success-color);
  color: var(--white);

  @mixin canHover {
    &:hover {
      background-color: var(--green-hover);
    }
  }

  &:focus {
    background-color: var(--green-hover);
  }
}

.button--red {
  background-color: var(--error-color);
  color: var(--white);

  @mixin canHover {
    &:hover {
      background-color: var(--red-hover);
    }
  }

  &:focus {
    background-color: var(--red-hover);
  }
}

.button--pink {
  background-color: var(--color-insta);
  color: var(--white);

  @mixin canHover {
    &:hover {
      background-color: var(--red);
    }
  }

    &:focus {
       background-color: var(--red-hover);
    }
}

.button--yellow {
  color: var(--black);
  background-color: var(--yellow);

  @mixin canHover {
    &:hover {
      background-color: var(--yellow-hover);
    }
  }

  &:focus {
    background-color: var(--yellow-hover);
  }
}


.button--x-small {
  font-size: var(--sp-4);
  padding: 0 1rem;
  height: var(--sp-9);
  border-radius: var(--full-radius);
}
