/* Input
******************/
select,
input,
textarea {
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
}

input[type=text],
input[type=email],
input[type=password],
input[type=url],
input[type=number],
select,
textarea {
  font-size: 16px;
}

.input--container {
  margin-bottom: var(--sp-8);

  /* Input with icon */
  &._hasIcon {
    position: relative;
    .input {
      padding-left: calc(var(--sp-5) * 1.5);
    }

    .input--box {
      padding-left: calc(16px + (var(--sp-5) * 2));
    }

    &._success,
    &._error {
      .input--box {
        padding-left: 0.8em;
        padding-right: calc(16px + (var(--sp-5) * 2));
      }
    }
  }

  /* Read only */
  &._readOnly {
    border-bottom: none;
  }

  /* Disabled */
  &._disabled {
    opacity: 0.3;
  }
}



.inputLabel {
  display: block;
  width: 100%;
}

.inputLabel__text {
  display: flex;
  flex-direction: column;
  width: 100%;
  letter-spacing: 0.05em;
  margin-bottom: 0.7em;
  font-size: 0.85em;
  font-weight: var(--bold);

  .asterisk {
    font-size: 0.8em;
    margin-left: 0.1em;
    display: inline-block;
    transform: translateY(-0.1em);
  }

  @media (--sm) {
    flex-direction: row;
    align-items: center;
  }
}

.inputLabel__errorMessage {
  display: inline-block;
  font-weight: normal;
  color: var(--red);
  padding-top: 0.2em;

  @media (--sm) {
    padding-top: 0;
    padding-left: 1em;
  }
}

/* INPUT PREFIX */
.input--prefix {
  display: flex;
  height: var(--button-height);
  align-items: center;
  padding: 0 var(--sp-4);
  background: var(--grey-light);
  border: 2px solid var(--text-color);
  border-right: none;
  border-radius: var(--button-radius);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 0.85em;
  font-weight: var(--bold);
}

.input--inner {
  .input--container.-has-prefix & {
    display: flex;
  }
}

.input--box {
  .input--container.-has-prefix & {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}

/* INPUT/TEXAREA BOX */
.select--box,
.input--box,
.input--textarea {
  display: block;
  border: 2px solid var(--text-color);
  border-radius: var(--button-radius);
  padding: 0 0.8em;
  height: 4rem;
  font-family: var(--font);
  width: 100%;

  &::placeholder{
    color: var(--placeholder-color-text);
  }

  .input--container._error & {
    border: 2px solid var(--error-color);
  }
}

/* TEXTAREA */
.input--textarea {
  height: var(--sp-32);
  padding: 1rem 0.8em;
  resize: none;
}

.input--inner,
.select--inner {
  position: relative;
}

.input--text {
  display: block;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px dotted var(--black);
  padding-bottom: 0.4em;
  padding-left: 0;
  border-radius: 0;
}

.input--icon {
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  left: 0;
  width: 16px;
  height: 16px;

  .input--box + & {
    left: var(--sp-5);
  }

  .input--container._success &,
  .input--container._error & {
    left: auto;
    right: var(--sp-5);
  }

  svg {
    width: 100%;
    height: auto;
  }
}


.input--text_icon {
  border: none;
  border-bottom: 1px dotted var(--black);
  width: calc(100% - 30px);
  margin: 0 0 1em 0;
  padding-bottom: 0.2em;
}

.label_top {
  font-size: 0.667em;
  display: block;
  width: 100%;
  margin-bottom: 0.667em;
}

.label_icon {
  vertical-align: middle;
  margin: 0 0 1em 0;
  padding: 0 10px 0 0;
}


/* Select
******************/
select {
  width: 100%;
  font-family: var(--font);
  font-feature-settings: "ss01";
  background-color: transparent;
}

.select {
  &._error {
    label {
      color: var(--error-color);
    }
  }
}

.select--sans {
  font-family: var(--font);
}

.select--bold {
  font-weight: var(--bold);
}

.select--small & {
  padding: 1em;
}

.select--white {
  color: var(--white);

  &.select--box {
    border: 2px solid var(--white);
  }

  option {
    color: var(--text-color);
  }
}

.select--box {
  padding-right: var(--sp-8);
  overflow: hidden;
  text-overflow: ellipsis;

  .select--container._loading &,
  .select--container._disabled & {
    border: 2px solid var(--grey-dark);
  }
}

/* Select arrow and spinner */
.select--arrow,
.select--spinner {
  position: absolute;
  bottom: 50%;
  height: auto;
  pointer-events: none;
}

/* Select arrow */
.select--arrow {
  right: var(--sp-5);
  transform: translateY(50%);
  width: 0.45em;
  .select--white + & {
    path {
      fill: var(--white);
    }
  }
}

/* Select Spinner */
.select--spinner {
  transform: translate(50%, 50%);
  right: 50%;
  width: 1.25rem !important;
}


/* RADIO/CHEXCKBOXES
******************/
.radio--button,
.checkbox--button {
  display: flex;
  position: relative;
  line-height: 1.3;
  margin-bottom: var(--sp-5);
}

.radio--button_input,
.checkbox--button_input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.radio--button_label {
  &::before,
  &::after {
    border-radius: 50%;
  }
}

.checkbox--button_label {
  &::before,
  &::after {
    border-radius: var(--button-radius);
  }
}

.radio--button_label,
.checkbox--button_label {
  position: relative;
  display: inline-block;
  padding-left: 2.2em;
  cursor: pointer;
  user-select: none;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1.25em;
    height: 1.25em;
  }

  &::before {
    border: 1px solid var(--text-color);

    .checkbox--button.-highlighted &,
    .radio--button.-highlighted & {
      border: 1px solid var(--purple);
    }

    .checkbox--button.-disabled &,
    .radio--button.-disabled & {
      border: 1px solid var(--grey-light);
    }
  }
}

/* RADIO BUTTON INITIAL/HOVER */
.radio--button_label {
  &::after {
    background-color: var(--grey-light);
    transform: scale(0) translateZ(0);
    transition: transform var(--trans);
  }

  &:hover {
    &::after {
      transform: scale(0.3) translateZ(0);
    }
  }
}

/* RADIO BUTTON ACTIVE */
.radio--button_input:checked + .radio--button_label,
.radio--button_label.-active {
  &::after {
    background-color: var(--green);
    transform: scale(0.4) translateZ(0);
  }

  &.-white {
    &::after {
      background-color: var(--white);
      transform: scale(0.4) translateZ(0);
    }
  }
}

/* CHECKBOX BUTTON INITIAL/HOVER */
.checkbox--button_label {
  &::after {
    background: url('/icons/tick-green.svg') no-repeat;
    background-size: 100% auto;
    transform: scale(0) translate3d(0, 1px, 0);
    transition: transform var(--trans);
  }

  &:hover {
    &::after {
      filter: grayscale(1);
      transform: scale(0.3) translate3d(0, 1px, 0);
    }
  }

  .checkbox--button.-disabled & {
    filter: grayscale(1);
  }
}

/* CHECKBOX BUTTON ACTIVE */
.checkbox--button_input.-checked + .checkbox--button_label,
.checkbox--button_label.-active {
  &::after {
    filter: none !important;
    transform: scale(0.6) translate3d(0, 1px, 0);
  }
}
