html,
body,
#root,
#__next {
  width: 100%;
  min-height: 100%;
  background: var(--bg-color);
}

body {
  font-family: var(--font);
  font-size: var(--base-font-size);
  color: var(--text-color);
  line-height: 1.4;
}

a {
  color: inherit;
}

strong,
.strong {
  font-weight: var(--bold);
}

em,
.em {
  font-style: italic;
}

.instagram {
  color: var(--color-insta);
}
.facebook {
  color: var(--color-fb);
}

.twitter {
  color: var(--color-twitter);
}

/* SELECTED TEXT COLOR */
::selection {
  color: var(--text-color);
  background: var(--yellow);
}
