/* TODO : Restrict width at large screen sizes */

#container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.bmw {
  width: 100%;
  max-width: var(--bmw);
  margin: 0 auto;
}

.main {
  display: block;
  flex: auto;
  width: 100%;
  margin-top: var(--header-height-mobile);

  @media(--sm) {
    margin-top: var(--header-height);
  }
}

.section--padding,
.section--padding-small {
  padding: var(--sp-16) var(--sp-5);

  @media (--xs) {
    padding: var(--sp-20) var(--sp-8);
  }

  &:not(.section--padding-small) {
    @media (--md) {
      padding-top: var(--sp-24);
      padding-bottom: var(--sp-24);
    }

    @media (--lg) {
      padding-top: var(--sp-32);
      padding-bottom: var(--sp-32);
    }
  }

}

.inline,
.inline p {
  display: inline;
}