h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  font-family: var(--font-display);
  font-feature-settings: "ss01";
}

h1,
.h1,
h2,
.h2 {
  font-weight: var(--bold-display);
}

h1,
.h1 {
  font-size: 2em;
}

h2,
.h2 {
  font-size: 1.5em;
}

h3,
.h3 {
  font-size: 1.333em;
}

h4,
.h4 {
  font-size: 1.2em;
}

.small--p {
  font-size: 0.75em;
}


/* TEXT BLOCK */
.text--block {

  line-height: 1.5;

  > * {
    margin-bottom: var(--sp-5);
  }

  *:last-child {
    margin-bottom: 0;
  }

  ul, ol {
    padding-left: 3em;
    margin-bottom: var(--sp-5);

    li {
      margin-bottom: 0.5em;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  a {
    text-decoration: underline;
    @mixin canHover {
      &:not(.button):hover {
        color: var(--green);
      }
    }
  }

  &.-text--md {
    p, li {
      font-size: 1.025rem;
    }
  }

  &.-text--lg {
    p, li {
      font-size: 1.125rem;
    }
  }

  h3 {
    font-weight: var(--bold);
  }
}

/* CUSTOM TEXT STYLES */
.green--underline {
  display: inline-block;
  border-bottom: 2px solid var(--green);
  margin-bottom: 4px;
}
