/* Notes
 6 column layout:
   Column width = 12.916%
   Margins = 5%
   Gutters = 2.5%

12 column layout:
  Column width = 6.6375%
  Margins = 2.75%
  Gutters = 1.35%

18 column layout:
  Column width = 4.6875%
  Margins = 2.5%
  Gutters = 0.625%

*/

/* FONTS */


/* SECTIONS */

html,
body,
#root,
#__next {
  width: 100%;
  height: 100%;
  background: var(--bg-color);
}

body {
  font-family: var(--font);
  font-feature-settings: "ss01";
  font-size: var(--base-font-size);
  color: var(--text-color);

  overflow-y: scroll;

  &.__body-no-scroll {
    overflow: hidden;
  }
}

#container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
}

main {
  display: flex;
  flex-direction: column;
  flex: auto;
  padding: 5% 0;
  overflow-x: hidden;
  background: var(--white);

  &.navOn {
    background: var(--black);
  }
}

.page--container {
  display: flex;
  flex-direction: column;
  flex: auto;
  align-items: flex-end;
  width: 100%;
}

.page--content {
  width: 90%;
  margin: 0 5%;
}

.fill-height {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.TheFooter {
  padding: 5%;
  color: var(--black);
  background: var(--white);


  &.navOn {
    color: var(--white);
    background: var(--black);
  }
}


.hidden {
  display: none;
}

.no-margin {
  margin: 0;
}

.four {
  width: 65.738%;
}

.central {
  margin-left: auto;
  margin-right: auto;
}

.ninety-wide {
  width: 90%;
  margin: 0 auto;
}
.half {
  float: left;
  width: calc(96.197% / 2);
}

.first {
  margin-right: 3.803%;
}

video {
  width: 100%;
}

pre {
  white-space: pre-line;
}

.bold {
  font-weight: 600;
}

em {
  display: inline-block;
  font-style: italic;
  opacity: 0.6;
}

a {
  text-decoration: underline;
}