button {
  border: 0;
  outline: 0;
  background: none;
  cursor: pointer;

  p {
    display: inline;
  }
}

.button {
  font-family: var(--font);
  padding: 0;
  border: none;
  border-radius: var(--button-radius);
  font-size: 1.1em;
  
  &:disabled,
  &[disabled] {
    color: var(--disabled-color-text);
    background-color: var(--disabled-color-bg);
    cursor: default;
  }

  &:focus {
    outline: none;
  }

  /* The spinner in a button */
  .button--spinner {
    height: var(--bsu);
    width: auto;
    svg {
      height: 100%;
      width: auto;
    }
  }
}

.button--innerText {
  display: flex;
  justify-content: center;
  align-items: baseline;
  transform: translateY(-0.1em);
}

.button--black,
.button--green,
.button--success {
  background-color: var(--black);
  color: var(--white);
  padding: 0 1.3em;
  height: var(--button-height);
  font-weight: var(--bold);
  justify-content: center;
  cursor: pointer;
}

.button--wide {
  min-width: var(--button-width-wide);
}

.button--full {
  width: 100%;
  justify-content: center;
}

.button--green,
.button--success {
  font-weight: var(--bold);
  background-color: var(--success-color);
  color: var(--white);

  &:disabled,
  &[disabled] {
    background-color: var(--success-color);
    color: var(--white);
  }
}


.button--cross,
.button--toggle,
.button--close {
  padding: 0;

  width: var(--bsu);
  height: var(--bsu);

  .icon {
    line-height: 0;
  }

  svg {
    width: 100%;
    height: 100%;
  }
}

.button--close {
  width: 50px;
  height: 50px;
  svg {
    width: var(--bsu);
    height: var(--bsu);
  }
}

.button--toggle {
  background-color: var(--success-color);
  color: var(--white);

  .button--innerText {
    transform: none;
  }

  svg {
    * {
      fill: var(--white);
    }
  }

  .spinner {
    svg {
      width: 70%;
    }
  }

  &._off {
    background-color: var(--white);
    border: 2px solid var(--grey);
  }
}


.button--text {
  display: inline;
  font-size: inherit;
  text-decoration: underline;
}

.button--icon {
  font-weight: var(--bold);
  padding: 0 var(--bsu);
  height: var(--button-height);

  svg {
    width: var(--bsu);
    height: auto;
    margin-right: 1em;
    transform: translateY(1px);
    vertical-align: bottom;
  }
}

.button--small {
  font-size: 1em;
  padding: 0 1.2em;
  height: var(--button-height-small);
}

.button--facebook {
  background-color: var(--color-fb-button);
  color: var(--white);
  
  .button--innerText {
    justify-content: flex-start;
  }
}

.integration-setup {
  width: 100%;
  background: transparent;
  border: none;
  display: block;
  outline: 2px solid var(--black);
  outline-offset: -2px;
  margin-bottom: 1.5em;
  font-feature-settings: "ss01";
  box-sizing: border-box;
  text-align: left;
  padding: 1.5em;
}

.connected {
  background-color: var(--black);
  color: var(--white);
}

.button_sign-out {
  background-color: transparent;
  color: var(--white);
  border: none;
  font-weight: var(--bold);
  font-size: 1.25em;
  display: inline;
  padding: 0;
  margin: 0;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}


.button_text {
  background-color: transparent;
  display: inline;
  color: var(--black);
  border: none;
  font-weight: normal;
  font-size: 1em;
  padding: 0;
  margin: 0;
  text-decoration: underline;
  cursor: pointer;
}