button {
  border: 0;
  outline: 0;
  background: none;
  cursor: pointer;

  p {
    display: inline;
  }
}

.button {
  font-family: var(--font);
  display: flex;
  border-radius: var(--button-radius);
  align-items: center;
  border: none;
  padding: 0;
  
  &:disabled,
  &[disabled] {
    color: #999999;
    background-color: #E5E5E5;
    cursor: default;
  }

  &:focus {
    outline: none;
  }
}

.button--black,
.button--green {
  background-color: var(--black);
  color: var(--white);
  padding: 1.5em;
  padding-top: 1.2em;
  font-weight: bold;
  justify-content: center;
  cursor: pointer;
}

.button--wide {
  min-width: 150px;
}

.button--green {
  font-weight: bold;
  background-color: var(--green);
  color: var(--white);
}

.button--success {
  background-color: var(--green);
}

.button--small {
  padding: 1em;
  padding-top: 0.8em;
}

.button--toggle {
  padding: 0 1px;
}


.button--text {
  display: inline;
  font-size: inherit;
  text-decoration: underline;
}

.button--facebook {
  background-color: #4267B2;
  color: var(--white);
  border: none;
  font-weight: 600;
  font-size: 1em;
  padding: 20px;
  margin-bottom: 1em;
  text-align: left;
  cursor: pointer;
}

.button--facebook svg {
  vertical-align: bottom;
  margin-right: var(--bsu);
}

.integration-setup {
  width: 100%;
  background: transparent;
  border: none;
  display: block;
  outline: 2px solid black;
  outline-offset: -2px;
  margin-bottom: 1.5em;
  font-feature-settings: "ss01";
  box-sizing: border-box;
  text-align: left;
  padding: 1.5em;
}

.connected {
  background-color: var(--black);
  color: var(--white);
}

.button_sign-out {
  background-color: transparent;
  color: var(--white);
  border: none;
  font-weight: 600;
  font-size: 1.25em;
  display: inline;
  padding: 0;
  margin: 0;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}


.button_text {
  background-color: transparent;
  display: inline;
  color: var(--black);
  border: none;
  font-weight: normal;
  font-size: 1em;
  padding: 0;
  margin: 0;
  text-decoration: underline;
  cursor: pointer;
}

.button_toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.button_toggle svg {
  vertical-align: middle;
}
