
/* Input
******************/
input {
  background-color: transparent;
}

input[readonly] {
  border-bottom: none;
}

.input--container {
  margin-bottom: var(--bsu-md);
}

.inputLabel {
  display: block;
  width: 100%;
}

.inputLabel__text {
  width: 100%;
  display: block;
  font-size: 0.9em;
  margin-bottom: 0.8em;

  .asterix {
    font-size: 0.8em;
    margin-left: 0.3em;
    display: inline-block;
    transform: translateY(-0.1em);
  }
}

.selectElement_box,
.input_box {
  display: block;
  border: 2px solid black;
  border-radius: var(--button-radius);
  margin-bottom: 1em;
  padding: 1.333em;
  font-family: var(--font-mono);
  font-weight: 100;
  font-size: 1em;
  box-sizing: border-box;
  width: 100%;
  
  &::placeholder{
    color: #999999;
  }
}


.input_text {
  display: block;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px dotted black;
  margin: 0 0 1em 0;
  padding-bottom: 0.2em;
  padding-left: 0;
  font-size: 1em;
  border-radius: 0;
}

.input_text_icon {
  border: none;
  border-bottom: 1px dotted black;
  font-size: 1em;
  width: calc(100% - 30px);
  margin: 0 0 1em 0;
  padding-bottom: 0.2em;
}

.label_top {
  font-size: 0.667em;
  display: block;
  width: 100%;
  margin-bottom: 0.667em;
}

.label_icon {
  vertical-align: middle;
  margin: 0 0 1em 0;
  padding: 0 10px 0 0;
}


/* Select
******************/
.selectElement {

}

.selectElement_box {
  
}

.selectElement {
  &._error {
    label {
      color: #FF0000;
    }
  }
}

select {
  font-size: 1em;
}

select:invalid {
  color: #999999;
}
