/* Input
******************/
select,
input {
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
}

input[type=text],
input[type=email],
input[type=password],
input[type=url],
input[type=number],
select {
  font-size: 16px;
  letter-spacing: 0.05em;
}

input[readonly] {
  border-bottom: none;
}

.input--container {
  margin-bottom: var(--bsu-md);

  /* Input with icon */
  &._hasIcon {
    position: relative;
    .input {
      padding-left: calc(var(--bsu) * 1.5);
    }

    .input--box {
      padding-left: calc(16px + (var(--bsu) * 2));
    }

    &._success,
    &._error {
      .input--box {
        padding-left: 0.8em;
        padding-right: calc(16px + (var(--bsu) * 2));
      }
    }
  }
}

.inputLabel {
  display: block;
  width: 100%;
}

.inputLabel__text {
  width: 100%;
  display: block;
  font-size: 0.85em;
  letter-spacing: 0.05em;
  margin-bottom: 0.7em;
  font-weight: var(--bold);

  .asterix {
    font-size: 0.8em;
    margin-left: 0.3em;
    display: inline-block;
    transform: translateY(-0.1em);
  }
}

.select--box,
.input--box {
  display: block;
  border: 2px solid var(--text-color);
  border-radius: var(--button-radius);
  padding: 0 0.8em;
  height: var(--button-height);
  font-family: var(--font);
  width: 100%;
  
  &::placeholder{
    color: var(--placeholder-color-text);
  }

  .input--container._error & {
    border: 2px solid var(--error-color);
  }
}

.input--inner,
.select--inner {
  position: relative;
}

.input--text {
  display: block;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px dotted var(--black);
  padding-bottom: 0.4em;
  padding-left: 0;
  border-radius: 0;
}

.input--icon {
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  left: 0;
  width: 16px;
  height: 16px;

  .input--box + & {
    left: var(--bsu);
  }

  .input--container._success &,
  .input--container._error & {
    left: auto;
    right: var(--bsu); 
  }

  svg {
    width: 100%;
    height: auto;
  }
}


.input--text_icon {
  border: none;
  border-bottom: 1px dotted var(--black);
  width: calc(100% - 30px);
  margin: 0 0 1em 0;
  padding-bottom: 0.2em;
}

.label_top {
  font-size: 0.667em;
  display: block;
  width: 100%;
  margin-bottom: 0.667em;
}

.label_icon {
  vertical-align: middle;
  margin: 0 0 1em 0;
  padding: 0 10px 0 0;
}


/* Select
******************/
select {
  width: 100%;
  font-family: var(--font);
  font-feature-settings: "ss01";
  background-color: transparent;
}

.select {
  &._error {
    label {
      color: var(--error-color);
    }
  }
}

.select--sans {
  font-family: var(--font);
}

.select--bold {
  font-weight: var(--bold);
}

.select--small & {
  padding: 1em;
}

.select--white {
  color: var(--white);
  
  &.select--box {
    border: 2px solid var(--white);
  }

  option {
    color: var(--text-color);
  }
}

/* Select arrow */
.select--arrow {
  position: absolute;
  bottom: 50%;
  right: var(--bsu);
  transform: translateY(50%);
  width: 0.45em;
  height: auto;

  .select--white + & {
    path {
      fill: var(--white);
    }
  }
}


select:invalid {
  
}
