/* ------------------------------------ *\
  #Global Variables
\* ------------------------------------ */

:root {
  /* Colour Palette */
  --white: #fff;
  --offwhite: #eaeaea;
  --black: #000;
  --offblack: #000000;
  --blue: blue;

  /* Font */
  --font: SpaceGrotesk, sans-serif;
  --base-font-size: 15px;

  /* Base Spacing Units */
  --bsu-sm: 10px;
  --bsu: 20px;
  --bsu-md: 30px;
  --bsu-lg: 40px;
  --bsu-xl: 120px;
  --bsu-xxl: 180px;
  --side-padding: 70px;

  /* Scaffold */
  --gutter: 20px;
  --column: 60px;
  --columnInner: calc(1 / 16 * 100%);
  --max-width: 750px;

  /* Border radius */
  --button-radius: 3px;
  --dialogue-radius: 6px;

  /* Transitions */
  --trans: 0.25s ease;

  /* UI */
  --logo-ratio: 0.855072463768116;
}

/**
 * MIXINS
 */

/**
 * Breakpoints.
 */

@custom-media --xxsMax (width < 400px);
@custom-media --xxs    (width >= 400px);
@custom-media --xsMax  (width < 600px);
@custom-media --xs     (width >= 600px);
@custom-media --smMax  (width < 800px);
@custom-media --sm     (width >= 800px);
@custom-media --mdMax  (width <= 992px);
@custom-media --md     (width > 992px);
@custom-media --lgMax  (width < 1200px);
@custom-media --lg     (width >= 1200px);
@custom-media --bmwMax (width < 750px);
@custom-media --bmw    (width >= 750px);
@custom-media --xl     (width >= 1600px);

/* Breakpoints Heights */
@custom-media --xxsHeight (height < 440px);
@custom-media --xsHeight (height < 700px);
@custom-media --smHeight (height < 800px);
@custom-media --mdHeight (height < 992px);
@custom-media --lgHeight (height < 1200px);
