.square-image {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
  height: 0;
  overflow: hidden;
}

.square-image .center-image {
  margin-bottom: 0;
  position: absolute;
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}